
:root {
    --topnav-bg-color: rgba(253, 252, 251, 0);
    --topnav-btn-bg-color: rgba(253, 252, 251, 0);
    --topnav-btn-bg-color-hover: rgb(229, 230, 237);
    --topnav-btn-bg-color-active: rgb(210, 210, 216);
    --topnav-btn-border-bottom-hover: rgb(24, 186, 129);
    --topnav-btn-text-color: rgb(4, 3, 3);
    --topnav-btn-text-color-hover: rgb(0, 0, 0);
    --topnav-btn-text-color-active: rgb(43, 45, 44);
    --topnav-bottom-border-color: rgb(208, 210, 212);
    --topnav-bottom-shadow: rgba(0, 0, 0, 0.097);
  
    --topnav-collapsed-shadow-color: rgba(0, 0, 0, 0.331);
    --topnav-collapsed-bg-color: rgb(245, 245, 245);
    --topnav-collapsed-btn-bg-color: rgb(245, 245, 245);
    --topnav-collapsed-btn-bg-color-focus: rgb(192, 192, 197);
    --topnav-collapsed-btn-bg-color-active: rgb(144, 144, 158);
    --topnav-collapsed-border-color: rgba(63, 63, 65, 0.7);
    --button-border-color-onclick: rgb(126, 120, 120);
    
    --topnav-bg-color-mobileView: rgb(29, 34, 36);

    // Logo
    --topnav-logo-bg-color: rgb(233, 233, 234);
    --logo-path-color: rgb(218, 234, 226);
    --logo-path-color-onclick: rgba(5, 120, 72, 0.897);
    --logo-stroke-color: rgb(17, 15, 15);
    --logo-stroke-color-hover: rgb(255, 255, 255);
    --logo-box-shadow-color: rgba(42, 36, 74, 0.238);
    --logo-border-color: rgba(231, 231, 236, 0.934);
    --logo-inversion-number: 1;
}
[data-theme="dark"] {
    --topnav-bg-color: rgba(0, 0, 0, 0.822);
    --topnav-btn-bg-color: rgba(0, 0, 0, 0.711);
    --topnav-btn-bg-color-hover: rgb(20, 20, 21);
    --topnav-btn-bg-color-active: rgb(43, 43, 45);
    --topnav-btn-border-bottom-hover: rgb(3, 170, 140);
    --topnav-btn-text-color: rgb(189, 188, 188);
    --topnav-btn-text-color-hover: rgb(255, 255, 255);
    --topnav-btn-text-color-active: rgb(0, 255, 208);
    --topnav-bottom-border-color: rgb(31, 32, 33);
    --topnav-bottom-shadow: rgb(0, 0, 0);
  
    --topnav-logo-bg-color: rgb(37, 37, 39);
    --topnav-collapsed-bg-color: rgb(12, 12, 12);
    --topnav-collapsed-btn-bg-color: rgb(12, 12, 12);
    --topnav-collapsed-btn-bg-color-focus: rgb(54, 54, 56);
    --topnav-collapsed-btn-bg-color-active: rgb(53, 53, 57);
    --topnav-collapsed-border-color: rgba(50, 48, 57, 0.941);
    --button-border-color-onclick: rgb(153, 149, 149);
    
    --topnav-bg-color-mobileView: rgb(35, 37, 46);

    // Logo
    --logo-path-color: rgb(115, 220, 140);
    --logo-path-color-onclick: rgba(236, 255, 230, 0.897);
    --logo-stroke-color: rgb(0, 0, 0);
    --logo-stroke-color-hover: rgb(0, 0, 0);
    --logo-box-shadow-color: rgb(0, 0, 0);
    --logo-border-color: rgb(0, 0, 0);
    --logo-inversion-number: 0;
}

/* #region ----------------------------------<4: TOP NAVBAR>---------------------------------- */

/*
Proposed structure of top navbar
---------------------------------
#nav-top
  .nav-wrapper
    .nav-left
      .website-logo-container
      .website-links
    .nav-right
      .theme-toggle
*/

#nav-top {
    display: flex;
    position: fixed;
    z-index: 1000;
    width: 100vw;
    align-items: center;
    font-size: 1.05rem;
    background-color: var(--topnav-bg-color);
    border-bottom: 1px solid var(--topnav-bottom-border-color);
    box-shadow: 0 0 20px 10px var(--topnav-bottom-shadow);
  }
  
  /* target every link in the entire #nav */
  #nav-top > .nav-left > .website-links > a.navlink {
    color: var(--topnav-btn-text-color) !important;
    text-decoration: none !important;
    padding: 0.5rem 0.7rem;
    background-color: var(--topnav-btn-bg-color);
    font-weight: 500;
    border-radius: 4px;
    transition: all 100ms ease;
    /*
    display: inline-block;
    min-width: 70px;
    */
  }
  #nav-top > .nav-left > .website-links > a.navlink:hover {
    background-color: var(--topnav-btn-bg-color-hover);
    color: var(--topnav-btn-text-color-hover) !important;
    border-bottom: 3px solid var(--topnav-btn-border-bottom-hover);
  }
  #nav-top > .nav-left > .website-links > a.navlink.active {
    color: var(--topnav-btn-text-color-active);
    opacity: 1;
    background-color: var(--topnav-btn-bg-color-active);
    border-bottom: 3px solid var(--topnav-btn-border-bottom-hover);
  }
  
  /* target the div container .website-links */
  #nav-top .website-links {
    display: inline-block;
    font-size: 1.2rem;
  }
  #nav-top .website-links a {
    margin-left: 0.4em;
    opacity: 1;
  }
  #nav-top .website-links a > span.mobile-view-title {
    display: none;
  }
  
  /* target the div container .website-logo-container */
  #nav-top .website-logo-container {
    display: inline-block;
    margin-right: 0.4em;
    font-size: 1.2em;
  }
  #nav-top .website-logo-container:hover {
    filter: brightness(1.1);
  }
  #nav-top .website-logo-container:hover a.navlink {
    border-bottom: 3px solid var(--topnav-btn-border-bottom-hover);
    border-radius: 5px;
    background-color: var(--topnav-btn-bg-color-hover);
  }
  #nav-top .website-logo-container.active {
    background-color: var(--topnav-bottom-border-color);
  }
  
  #nav-top a.navlink.website-logo {
    padding: 12px 10px;
    border-bottom: 3px solid transparent;
  }
  /*
  #nav-top a.navlink.website-logo.active {
    background-color: rgba(149, 150, 150, 0.401);
    border-radius: 4px;
    border-bottom: 3px solid var(--topnav-btn-border-bottom-hover);
  }
  */
  
  #nav-top svg.logo {
    margin-bottom: 5px;
  }
  
  #nav-top svg.logo path {
    fill: rgb(255, 255, 255);
    transition: all 150ms ease-in-out;
  }
  
  #nav-top .nav-left {
    display: flex;
    min-width: 0;
    align-items: center;
  }
  
  /* float left 
  #nav-top .nav-left { margin-right: auto; }
  #nav-top .nav-right { margin-right: calc(3.5rem * 2); }
  */
  
  /* float right (closer to navbar) */
  #nav-top .nav-right { margin-left: 20px; }
  
  
  /* dont display hamburger menu... */
  .hamburger-menu {
    display: none !important;
    padding: 2px 6px;
  }
  
  /* this div container wraps around any svg */
  .inline-svg-wrapper {
    color: var(--svg-color);
    border: 1px solid transparent;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: 150ms ease;
    display: inline-block;
  }
  .inline-svg-wrapper:active {
    border: 1px solid var(--button-border-color-onclick);
  }
  .inline-svg-wrapper:hover {
    color: var(--svg-color-hover);
  }
  
  /* toggle theme button */
  .theme-toggle {
    user-select: none;
  }
  .theme-toggle .inline-svg { 
    width: 33px;
  }
  .hamburger-menu .inline-svg { 
    width: 20px;
    height: 28px;
  }
  /* #endregion */
  
  