
// CSS code related to the 'Landing Page'

.landingpage-intro {
    position: absolute;
    color: var(--page-text-color);
    top: 25%;
    padding-left: 5rem;
    max-width: 80%;

    h1 {
        font-size: 6rem;
        font-weight: bold;        
    }

    > p {
        margin: 0;
        font-size: 2rem;     
    }

    div.landingpage-moreText {
        margin-top: 20px;
        p {
            line-height: 1;
            margin: 8px;
            margin-left: 0px;
            font-size: 0.8rem;
        }
    }
}

.aboutme-intro {
    position: absolute;
    color: var(--page-text-color);
    padding-left: 5rem;
    padding-top: 5rem;
    max-width: 60%;

    p {
        margin: 0;
        padding-bottom: 12px;
        font-size: 1.2rem;

        &.text-v1 {font-size: 1.0rem;}
        &.text-v2 {font-size: 0.6rem;}
        &.text-v3 { font-size: 0.5rem; }
        &.text-v4 { font-size: 0.3rem; }
        &.text-v5 { font-size: 0.2rem; }
        &.text-v6 { font-size: 0.1rem; }
        &.text-v7 { font-size: 0.02rem; }
    }
}
  
.social-medias {
    display: grid;
    grid-template-columns: repeat(6, 45px);
    padding-top: 10px;

    img {
        width: 45px;
    }
}

.wtf {
    color: blue;
}
