

#top-albums-list-sidebar .changeViewOfToplist-btns {
    margin: 0 auto;
    text-align: center;
}


.top-albums-list.view-as-list {
    grid-template-columns: 1fr;

    .albumInfoContainer {
        display: flex;
        flex-direction: row;
        // background-color: var(--album-info-grid-item-bg-color);
        background-color: rgba(38, 38, 44, 0.422);

        .albumInfo {
            width: 100%;
        }
        .albumInfoHeader {
            display: grid;
            grid-template-columns: 90% 10%;
        }
        .albumRatingInfo {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            align-self: flex-end;
            align-content: flex-end;
        }

        div.albumInfo p.albumNameText {
            font-size: 1.5rem;
            color: var(--text);
            margin: 0;
            max-width: fit-content;
        }
        p.artistNameText {
            font-size: 1.3em;
            color: var(--text-slightly-darker);
            margin: 0;
        }
        p.albumYearText {
            font-size: 1.0rem;
            color: var(--text-darker);
            margin: 0;
        }

        div.artistName_inOtherLanguage {
            display: flex;
            flex-direction: row;

            .artistNameText_inOtherLanguage {
                color: var(--text-much-darker);
                font-size: 0.8rem;
                margin-left: 6px;
                margin-top: 3px;
            }
        }

        .genres {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        p {
            max-width: fit-content !important;
        }

        .albumRatingInfo {
            padding-top: 0px;

            p {
                font-size: 2.1rem;
                margin-right: 0px;
            }
        }
    }

    img.albumCover {
        min-width: 240px;
        width: 20%;
        padding-right: 13px;
        filter: brightness(1.0);
    }

    div.albumInfoContainer div.albumInfo > div {
        padding: 0;
        background-color: transparent;
    }

    p.review-summary {
        color: var(--text) !important;
        font-size: 0.7rem;
    }
    
    a {
        margin-bottom: 35px;
    }
}

.top-albums-list.view-as-grid {
    div.albumInfoContainer > div.albumInfo p.artistNameText,
    div.albumInfoContainer > div.albumInfo p.albumNameText,
    div.albumInfoContainer > div.albumInfo p.genresText {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 300px;
    }
}