/*
<body>
  <div id="root">
    <header id="nav-top">
    <div class="page-wrapper">
  </div>
</body>
*/
:root {
  --topnav-bg-color: rgba(253, 252, 251, 0);
  --topnav-btn-bg-color: rgba(253, 252, 251, 0);
  --topnav-btn-bg-color-hover: rgb(229, 230, 237);
  --topnav-btn-bg-color-active: rgb(210, 210, 216);
  --topnav-btn-border-bottom-hover: rgb(24, 186, 129);
  --topnav-btn-text-color: rgb(4, 3, 3);
  --topnav-btn-text-color-hover: rgb(0, 0, 0);
  --topnav-btn-text-color-active: rgb(43, 45, 44);
  --topnav-bottom-border-color: rgb(208, 210, 212);
  --topnav-bottom-shadow: rgba(0, 0, 0, 0.097);
  --topnav-collapsed-shadow-color: rgba(0, 0, 0, 0.331);
  --topnav-collapsed-bg-color: rgb(245, 245, 245);
  --topnav-collapsed-btn-bg-color: rgb(245, 245, 245);
  --topnav-collapsed-btn-bg-color-focus: rgb(192, 192, 197);
  --topnav-collapsed-btn-bg-color-active: rgb(144, 144, 158);
  --topnav-collapsed-border-color: rgba(63, 63, 65, 0.7);
  --button-border-color-onclick: rgb(126, 120, 120);
  --topnav-bg-color-mobileView: rgb(29, 34, 36);
  --topnav-logo-bg-color: rgb(233, 233, 234);
  --logo-path-color: rgb(218, 234, 226);
  --logo-path-color-onclick: rgba(5, 120, 72, 0.897);
  --logo-stroke-color: rgb(17, 15, 15);
  --logo-stroke-color-hover: rgb(255, 255, 255);
  --logo-box-shadow-color: rgba(42, 36, 74, 0.238);
  --logo-border-color: rgba(231, 231, 236, 0.934);
  --logo-inversion-number: 1;
}

[data-theme=dark] {
  --topnav-bg-color: rgb(29, 43, 52);
  --topnav-btn-bg-color: rgb(29, 43, 52);
  --topnav-btn-bg-color-hover: rgb(53, 71, 82);
  --topnav-btn-bg-color-active: rgb(71, 89, 101);
  --topnav-btn-border-bottom-hover: rgb(3, 170, 140);
  --topnav-btn-text-color: rgb(189, 188, 188);
  --topnav-btn-text-color-hover: rgb(255, 255, 255);
  --topnav-btn-text-color-active: rgb(255, 255, 255);
  --topnav-bottom-border-color: rgb(31, 32, 33);
  --topnav-bottom-shadow: rgb(14, 19, 23);
  --topnav-logo-bg-color: rgb(37, 37, 39);
  --topnav-collapsed-bg-color: rgb(12, 12, 12);
  --topnav-collapsed-btn-bg-color: rgb(12, 12, 12);
  --topnav-collapsed-btn-bg-color-focus: rgb(54, 54, 56);
  --topnav-collapsed-btn-bg-color-active: rgb(53, 53, 57);
  --topnav-collapsed-border-color: rgba(50, 48, 57, 0.941);
  --button-border-color-onclick: rgb(153, 149, 149);
  --topnav-bg-color-mobileView: rgb(35, 37, 46);
  --logo-path-color: rgb(115, 220, 140);
  --logo-path-color-onclick: rgba(236, 255, 230, 0.897);
  --logo-stroke-color: rgb(0, 0, 0);
  --logo-stroke-color-hover: rgb(0, 0, 0);
  --logo-box-shadow-color: rgb(0, 0, 0);
  --logo-border-color: rgb(0, 0, 0);
  --logo-inversion-number: 0;
}

#nav-top {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: 55px;
  align-items: center;
  font-size: 1.05rem;
  background-color: var(--topnav-bg-color);
  border-bottom: 1px solid var(--topnav-bottom-border-color);
  box-shadow: 0 0 20px 10px var(--topnav-bottom-shadow);
}
#nav-top svg.logo {
  margin-bottom: 5px;
}
#nav-top svg.logo path {
  fill: rgb(255, 255, 255);
  transition: all 150ms ease-in-out;
}
#nav-top .website-logo-container-mobileView {
  display: none;
}
#nav-top .website-logo-container {
  display: inline-block;
  margin-right: 0.4em;
  margin-top: 7px;
  font-size: 1.2em;
  padding: 0 5px;
}
#nav-top .website-logo-container a.navlink.website-logo {
  padding: 12px 10px;
  border-bottom: 3px solid transparent;
}
#nav-top .website-logo-container.active {
  background-color: var(--topnav-bottom-border-color);
}
#nav-top .website-logo-container:hover {
  filter: brightness(1.1);
}
#nav-top .website-logo-container:hover a.navlink {
  /*
  border-bottom: 3px solid var(--topnav-btn-border-bottom-hover);
  */
  border-radius: 5px;
  background-color: var(--topnav-btn-bg-color-hover);
}
#nav-top .nav-left .website-links {
  display: inline-block;
  font-size: 1.2rem;
}
#nav-top .nav-left .website-links a {
  margin-left: 0.4em;
  opacity: 1;
}
#nav-top .nav-left .website-links a > span.mobile-view-title {
  display: none;
}
#nav-top .nav-left .website-links > a.navlink {
  color: var(--topnav-btn-text-color) !important;
  text-decoration: none !important;
  padding: 0.5rem 0.7rem;
  background-color: var(--topnav-btn-bg-color);
  font-weight: 500;
  border-radius: 4px;
  transition: all 100ms ease;
}
#nav-top .nav-left .website-links > a.navlink:hover {
  background-color: var(--topnav-btn-bg-color-hover);
  color: var(--topnav-btn-text-color-hover) !important;
  /*
  border-bottom: 3px solid var(--topnav-btn-border-bottom-hover);
  */
}
#nav-top .nav-left .website-links > a.navlink.active {
  color: var(--topnav-btn-text-color-active) !important;
  opacity: 1;
  background-color: var(--topnav-btn-bg-color-active);
  border-bottom: 3px solid var(--topnav-btn-border-bottom-hover);
}

#nav-top .website-logo-container a.active span,
#nav-top .website-logo-container-mobileView a.active span {
  background-color: var(--topnav-btn-bg-color-active);
  filter: brightness(0.8);
}

#nav-top .website-logo-container span,
#nav-top .website-logo-container-mobileView {
  text-decoration: none !important;
  color: white !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-style: italic;
  padding: 0 10px;
  border-radius: 6px;
}

#nav-top .nav-left {
  min-width: 0;
  align-items: center;
  display: inline-block;
}

#nav-top .nav-right {
  margin-left: 20px;
  display: inline-block;
}
#nav-top .nav-right .theme-toggle .inline-svg {
  width: 2em;
}
#nav-top .nav-right .theme-toggle .inline-svg svg {
  filter: invert(var(--svg-icon-invert-percentage));
}

/* dont display hamburger menu... */
.hamburger-menu {
  display: none !important;
  padding: 2px 6px;
}

.hamburger-menu .inline-svg {
  width: 20px;
  height: 28px;
}

/* #endregion *//*# sourceMappingURL=topbar.css.map */