
:root {
  --sidenav-bg-color: rgb(29, 34, 36); /* rgb(31, 31, 33); */  /* rgb(41, 42, 48); */
  --sidenav-shadow-color: rgba(0, 0, 0, 0.324);
  --sidenav-item-border-color-active: rgb(107, 110, 113);
  --sidenav-item-text-color: rgb(176, 177, 181);
  --sidenav-item-bg-color: rgb(64, 64, 64);
  --sidenav-item-bg-color-hover: rgb(72, 74, 80);
  --sidenav-item-bg-color-active: rgb(81, 83, 87);
}

[data-theme="dark"] {
  --sidenav-bg-color: rgb(32, 44, 51);  // rgb(35, 37, 46); /* rgb(31, 31, 33); */  /* rgb(41, 42, 48); */
  --sidenav-shadow-color: rgba(0, 0, 0, 0.593);
  --sidenav-item-text-color: rgb(183, 185, 197);
  --sidenav-item-bg-color: rgb(32, 44, 51); // rgb(60, 61, 67);
  --sidenav-item-bg-color-hover: rgb(88, 89, 93);
  --sidenav-item-bg-color-active: rgb(55, 66, 72); // rgb(101, 105, 114);
  --sidenav-item-border-color-active: rgb(157, 160, 163);
}

#nav-side {
  position: fixed;
  width: var(--sidebar-width);
  height: 100vh;
  background-color: var(--sidenav-bg-color);
  text-align: center;
  z-index: 99999999;
  /* box-shadow: 8px 0px 13px 0px var(--sidenav-shadow-color); */
}
  
#nav-side a:not(.website-logo).navlink {
  display: inline-block;
  margin-top: 20px;
  opacity: 0.9;
  color: var(--sidenav-item-text-color) !important;
}
#nav-side a:not(.website-logo).navlink > *:not(.mobile-view-title) {
  display: block;
}

// nav-links in sidebar
#nav-side a:not(.website-logo).navlink svg {
  border-radius: 50px;
  text-align: center;
  justify-content: center;
}
#nav-side a:not(.website-logo).navlink svg {
  background-color: var(--sidenav-item-bg-color);
  //border: 2px solid transparent;
}
#nav-side a:not(.website-logo).navlink:hover svg {
  background-color: var(--sidenav-item-bg-color-hover);
  transition: all 200ms ease;
}
#nav-side a:not(.website-logo).navlink.active svg {
  background-color: var(--sidenav-item-bg-color-active);
}

#nav-side .website-links a.navlink svg {
  fill: rgb(174, 186, 193);
}
#nav-side .website-links a.navlink:nth-child(1) svg { 
  width: 40px; 
  height: 40px; 
  padding: 2px; 
}
#nav-side .website-links a.navlink:nth-child(2) svg { 
  width: 39px; 
  height: 39px; 
  padding: 1px 1px 1px 6px; 
  // fill: var(--sidenav-films-bg-color); 
}
#nav-side .website-links a.navlink:nth-child(3) svg { 
  width: 39px; 
  height: 39px; 
  padding: 0px 3px 0px 0px; 
  // fill: var(--sidenav-music-bg-color);  
}
#nav-side .website-links a.navlink:nth-child(4) svg { 
  width: 39px; 
  height: 39px; 
  padding: 4px 0px 7px 0px; 
  // fill: var(--sidenav-blog-bg-color);  
}
#nav-side .website-links a.navlink:nth-child(5) svg { 
  width: 39px; 
  height: 39px; 
  padding: 4px 0px 7px 0px; 
  // fill: var(--sidenav-art-bg-color);  
}
  
/*
#nav-side .website-links a.navlink:nth-child(2).active svg { border: 2px solid var(--sidenav-about-bg-color); }
#nav-side .website-links a.navlink:nth-child(3).active svg { border: 2px solid var(--sidenav-films-bg-color); }
#nav-side .website-links a.navlink:nth-child(4).active svg { border: 2px solid var(--sidenav-music-bg-color); }
#nav-side .website-links a.navlink:nth-child(5).active svg { border: 2px solid var(--sidenav-blog-bg-color); }
#nav-side .website-links a.navlink:nth-child(6).active svg { border: 2px solid var(--sidenav-art-bg-color); }
*/

#nav-side .website-links a.navlink.active:nth-child(2) span { color: rgb(255, 149, 104); }
#nav-side .website-links a.navlink.active:nth-child(3) span { color: var(--sidenav-films-bg-color);  }
#nav-side .website-links a.navlink.active:nth-child(4) span { color: var(--sidenav-music-bg-color);  }
#nav-side .website-links a.navlink.active:nth-child(5) span { color: var(--sidenav-blog-bg-color);  }
#nav-side .website-links a.navlink.active:nth-child(6) span { color: var(--sidenav-art-bg-color);  }
  
#nav-side a.navlink:last-child {
  margin-bottom: 15px;
}

#nav-side a.navlink > span {
  font-size: 0.7rem;
}
#nav-side span.mobile-view-title {
  display: none;
}
  
/* website logo container */
#nav-side > .website-logo-container {
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0.2rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
}
/* styling the svg logo */
a.website-logo {
  border-radius: 0.75rem;
  margin-right: 8px;
  /*
  background-color: var(--topnav-logo-bg-color);
  border: 2px solid var(--logo-border-color);
  box-shadow: 0px 2px 4px var(--logo-box-shadow-color);
  */
}
#nav-side .website-logo-container:hover {
  background-color: var(--topnav-btn-bg-color-active) !important;
}
a.website-logo:hover svg path {
  transition: background-color 350ms ease;
}
svg.logo {
  width: 57px;
  height: 57px;
  stroke-width: 11.1px;
  z-index: 10;
}
svg.logo > g {
  border-radius: 50%;
  margin-left: 5px;
}
svg.logo path {
  fill: var(--logo-path-color);
  stroke: var(--logo-stroke-color);
  filter: invert(var(--logo-inversion-number));
}
  
/*
svg.logo:hover path {
  fill: var(--logo-path-color-hover);
  transition: fill 350ms ease;
  stroke: var(--logo-stroke-color-hover);
}*/
  
  
/* #region -------------< Svg colours >--------------- */
svg.logo:hover path:nth-child(1) { fill: rgb(255, 113, 113); }
svg.logo:hover path:nth-child(2) { fill: rgb(98, 172, 250);  }
svg.logo:hover path:nth-child(3) { fill: rgb(250, 237, 98);  }
svg.logo:hover path:nth-child(4) { fill: rgb(98, 250, 159);  }
svg.logo:hover path:nth-child(5) { fill: rgb(255, 142, 242); }
svg.logo:hover path:nth-child(6) { fill: rgb(41, 136, 245);  }
svg.logo:hover path:nth-child(7) { fill: rgb(255, 77, 77);   }
svg.logo:hover path:nth-child(8) { fill: rgb(72, 255, 173);  }
svg.logo:hover path:nth-child(9) { fill: rgb(55, 125, 255);  }
svg.logo:hover path:nth-child(10) { fill: rgb(144, 255, 142);}
svg.logo:hover path:nth-child(11) { fill: rgb(255, 188, 81); }
svg.logo:hover path:nth-child(12) { fill: rgb(156, 99, 255); }
svg.logo:hover path:nth-child(13) { fill: rgb(255, 142, 153);}
svg.logo:hover path:nth-child(14) { fill: rgb(69, 91, 255); }
svg.logo:hover path:nth-child(15) { fill: rgb(255, 230, 41); }
svg.logo:hover path:nth-child(16) { fill: rgb(255, 255, 255); }
svg.logo:hover path:nth-child(17) { fill: rgb(255, 255, 255); }
svg.logo:hover path:nth-child(18) { fill: rgb(255, 255, 255); }
svg.logo:hover path:nth-child(19) { fill: rgb(255, 255, 255); }
svg.logo:hover path:nth-child(20) { fill: rgb(81, 243, 255); }
svg.logo:hover path:nth-child(21) { fill: rgb(255, 255, 255); }
svg.logo:hover path:nth-child(22) { fill: rgb(255, 255, 255); }
svg.logo:hover path:nth-child(23) { fill: rgb(253, 52, 52);  }

/* #endregion */



/* #endregion */
  