
// CSS styles for my 'Language Notes' blog post

#Language-notes-blogpost {
    padding-top: 7px;

    // toggle buttons container ( <Nepali>, <Tibetan>, <Japanese>, etc...)
    .toggle-btns-container {
        display: flex;
        flex-direction: row;
        padding-bottom: 16px;

        .toggle-btn {
            display: flex;
            flex-direction: row;
          
            color: var(--text);
            font-size: 1.1rem;
            padding: 7px 16px;
            margin-right: 7px;
            border-radius: 8px;
            user-select: none;
            cursor: pointer;

            &:hover {
                background-color: #3c3c3f;
            }

            &:active {
                background-color: #6d6d6d;
            }

            &.selected {
                background-color: rgb(96, 94, 94);
                // color: var(--topnav-btn-text-color-active);
            }
        }
    }

    // the language container currently being displayed...
    .language-container {
        &:not(.selected) {
            display: none;
        }
        &.selected {
            display: block;
        }

        // each phrase should be displayed as a grid
        .language-phrase, .language-container-1st-row {
            display: grid;
            grid-template-columns: 20% 20% 20% 40%;
        }
        .language-phrase {
            &:nth-child(even) {
                background-color: rgb(25, 23, 24);
            }
            span {
                font-size: 0.80rem;
                color: var(--text-slightly-darker);
            }
            &:hover {
                background-color: rgb(36, 36, 39);
            }
            
            > .moreInfo-td {
                font-size: 0.7rem;
            }
        }

        .language-container-1st-row {
            background-color: #535356;
            margin-top: 8px;

            .th-td {
                color: var(--text);
            }
        }

        .lanuguage-section-title {
            font-size: 1.15rem;
            font-style: italic;
            opacity: 0.5;
            color: var(--text);
            margin-bottom: 5px;
            text-align: center;
            margin: 0 auto;
        }

        .language-section {
            padding-top: 15px;
        }
    }
}
