
/*
    0: Variables
    1: Setup
    2: Navbar
    3: Main container
    4: Portfolio
    5: Blog page
    6: Blog post page
    7: University page
    8: University Assignment page
    9: Notes page
    10: Media queries
*/

/* ------------------------------------------<0: VARIABLES>------------------------------------------ */

/* particles.js variables */
:root {
  --amount-of-particles: 15;
  --density-of-particles: 100;
  --type-of-particles: "circle";
  --particle-opacity: 0.1;
  --particle-size: 7.5;
  --particle-speed: 2.6;
  --particle-direction: "none";
  --amount-of-lines: 400;
  --line-opacity: 0;
  --line-width: 0.5;
}

/* Lightmode */
:root {
  --bg1: rgb(255, 255, 255);  /* rgb(243, 235, 169);  rgb(104, 73, 218);           rgb(79, 156, 158);       rgb(255, 255, 255); */
  --bg2: rgb(232, 232, 232);    /* rgb(191, 63, 63);    rgba(102, 238, 165, 0.521);  rgba(255, 145, 0, 0.4);  rgb(219, 212, 188); */

  --text: rgb(128, 128, 128);
  --intro-text: rgb(33, 37, 41);
  --text-hyperlink: #007bff;

  --nav-item-text: rgb(153, 153, 153);
  --nav-item-text-active: rgb(5, 194, 191);
  --nav-item-bg-active: rgba(67, 177, 175, 0.097);
  --nav-item-bg-hover: rgba(67, 177, 175, 0.097);
  --nav-delimiter: rgb(216, 216, 216);
  --nav-item-theme-toggle-color: rgb(94, 86, 90);
  --nav-item-theme-toggle-color-hover: rgb(0, 0, 0);
  --nav-item-theme-toggle-border-color-active: rgb(46, 26, 36);

  --arrow-smooth-scroll-btn: rgb(53, 53, 53);
  --arrow-smooth-scroll-btn-hover:  rgb(88, 88, 88);
  
  --project-card-shadow: rgb(0, 0, 0);
  --project-card-bg: rgb(248, 249, 250);
  --project-card-text-hover: rgb(94, 93, 93);
  --project-card-text-color: rgb(0, 0, 0);

  --page-wrapper-bg: rgb(251, 251, 251);
  --page-title: rgba(0, 0, 0, 0.529);

  --blog-table-bg: rgb(251, 251, 251);
  --blog-table-thead-bg: rgb(248, 248, 248);
  --blog-table-border: rgb(251, 251, 251);
  --blog-table-text: var(--text);
  --blog-table-text-hover: var(--text);
  --blog-table-row-bg-hover: rgb(251, 251, 251);
  --blog-table-tag-bg: rgb(236, 236, 236);
  --blog-table-tag-text: rgb(27, 27, 27);

  --blog-post-title-text: rgb(33, 33, 33);
  --blog-post-subTitle-text-color: rgb(38, 38, 38);
  --blog-post-date-text: rgb(134, 134, 134);
  --blog-post-text: rgb(66, 66, 66);
  --blog-post-back-to-table-text: rgb(128, 128, 128);
  --blog-post-note-text: rgb(153, 153, 153);
  --blog-post-hr: rgb(200, 200, 200);
  --svg-icon-invert-percentage: 0%;

  --university-controls-btn-bg: rgba(224, 222, 222, 0.609);
  --university-controls-btn-svg-fill: rgb(156, 154, 154);
  --university-card-box-shadow: rgba(12, 12, 13, 0.1);
  --university-card-bg: rgb(255, 255, 255);
  --university-card-border-color: rgb(251, 251, 251);
  --university-card-border-color-hover: rgb(222, 222, 226);
  --university-card-img-box-shadow: rgba(0, 0, 0, 0.15);
  --university-card-img-bg-color: rgb(215, 215, 216);
  --university-card-moduleTitle-text-color: rgb(115, 115, 115);
  --university-card-assignmentTitle-text-color: rgb(12, 12, 13);
  --university-card-date-text-color: rgb(126, 126, 126);
  --university-card-stage-text-color: rgb(126, 126, 126);
  --university-card-percentage-text-color: rgb(255, 255, 255);
  --university-card-percentage-bg-color: rgb(62, 156, 7);

  --university-assignment-title-text-color: rgb(15, 20, 30);
  --university-assignment-subheading-text-color: rgb(135, 138, 143);
  --university-assignment-subheading-detail-text-color: rgb(15, 20, 30);
  --university-assignment-main-text-color: rgb(135, 138, 143);

  --contact-btn-colour: rgb(26, 26, 26);
  --contact-btn-font-colour: rgb(196, 196, 196);
  --contact-btn-border-colour: rgb(0, 0, 0);
  --contact-btn-text-colour: rgb(255, 255, 255);
  --contact-btn-colour-hover: rgb(88, 88, 88);

  --particle-color-1: rgb(46, 204, 113);
  --particle-color-2: rgb(27, 110, 235);
  --particle-color-3: rgb(216, 103, 0);
  --particle-color-4: rgb(162, 111, 176);
  --line-color: rgb(153, 153, 153);

  --text-highlight-color: rgb(5, 194, 191);
}

/** DARK MODE  **/
[data-theme="dark"] {
  --bg1: rgb(50, 56, 64);   /* rgb(5, 27, 63);    rgb(104, 73, 218);           rgb(79, 156, 158);       rgb(255, 255, 255); */
  --bg2: rgb(45, 42, 60);   /* rgb(31, 31, 31);   rgba(102, 238, 165, 0.521);  rgba(255, 145, 0, 0.4);  rgb(219, 212, 188); */
  
  --text: rgb(240, 240, 240);
  --intro-text: rgb(230, 219, 225);
  --text-hyperlink: #66b0ff;

  --nav-item-text: rgb(255, 255, 255);
  --nav-item-text-active: rgb(56, 237, 234);
  --nav-item-bg-active: rgba(67, 170, 177, 0.097);
  --nav-item-bg-hover: rgba(67, 177, 175, 0.097);
  --nav-delimiter: rgb(56, 56, 56);
  --nav-item-theme-toggle-color: rgb(192, 192, 192);
  --nav-item-theme-toggle-color-hover: rgb(255, 255, 255);
  --nav-item-theme-toggle-border-color-active: rgb(160, 157, 157);

  --arrow-smooth-scroll-btn: rgb(141, 141, 141);
  --arrow-smooth-scroll-btn-hover: rgb(88, 88, 88);

  --project-card-shadow: rgb(82, 82, 82);
  --project-card-bg: rgb(36, 36, 36);
  --project-card-text-hover: rgb(235, 235, 235);
  --project-card-text-color: var(--intro-text);

  --page-wrapper-bg: rgb(50, 56, 64);
  --page-title: rgba(255, 255, 255, 0.652);
  
  --blog-table-bg: rgb(54, 59, 66);
  --blog-table-thead-bg: rgb(49, 54, 59);
  --blog-table-border: rgb(39, 47, 56);
  --blog-table-text: var(--intro-text);
  --blog-table-text-hover: rgb(255, 255, 255);
  --blog-table-row-bg-hover: rgb(64, 70, 77);
  --blog-table-tag-bg: rgb(46, 45, 45);
  --blog-table-tag-text: rgb(189, 189, 189);

  --blog-post-title-text: rgb(199, 199, 199);
  --blog-post-subTitle-text-color: rgb(209, 209, 209);
  --blog-post-date-text: rgb(143, 148, 155);
  --blog-post-text: rgb(185, 186, 189);
  --blog-post-back-to-table-text: rgb(181, 175, 175);
  --blog-post-note-text: rgb(153, 153, 153);
  --blog-post-hr: rgb(200, 200, 200);
  --svg-icon-invert-percentage: 100%;

  --university-controls-btn-bg: rgba(82, 79, 79, 0.609);
  --university-controls-btn-svg-fill: rgb(232, 232, 232);
  
  --university-card-box-shadow: rgba(0, 0, 255, 0.1);
  --university-card-bg: rgb(43, 47, 51);
  --university-card-border-color: rgb(38, 42, 46);
  --university-card-border-color-hover: rgb(27, 31, 34);
  --university-card-img-box-shadow: rgba(233, 35, 35, 0.15);
  --university-card-img-bg-color: rgb(43, 47, 51);
  --university-card-moduleTitle-text-color: rgb(189, 188, 188);
  --university-card-assignmentTitle-text-color: rgb(220, 220, 220);
  --university-card-date-text-color: rgb(194, 194, 194);
  --university-card-stage-text-color: rgb(194, 194, 194);
  --university-card-percentage-text-color: rgb(255, 255, 255);
  --university-card-percentage-bg-color: rgb(49, 118, 9);
  
  --university-assignment-title-text-color: rgb(198, 201, 206);
  --university-assignment-subheading-text-color: rgb(161, 164, 168);
  --university-assignment-subheading-detail-text-color: rgb(119, 120, 121);
  --university-assignment-main-text-color: rgb(167, 170, 174);

  --contact-btn-colour: rgb(26, 26, 26);
  --contact-btn-font-colour: rgb(196, 196, 196);
  --contact-btn-border-colour: rgb(0, 0, 0);
  --contact-btn-text-colour: rgb(255, 255, 255);
  --contact-btn-colour-hover: rgb(88, 88, 88);

  --particle-color-1: rgb(51, 177, 248);
  --particle-color-2: rgb(131, 210, 56);
  --particle-color-3: rgb(248, 194, 16);
  --particle-color-4: rgb(170, 115, 255);
  --line-color: rgb(51, 177, 248);

  --text-highlight-color: rgb(3, 80, 79);
}


/* ------------------------------------------<1: SETUP>------------------------------------------ */
html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  font-family: 'Karla', sans-serif !important;
  padding: 0;
  margin: 0;
  background: linear-gradient(
      180deg,
      var(--bg1),
      var(--bg2)
  );
  background-size: 400%;
  animation: animation_name 55s ease infinite;    /* lasts 30s, eases in, and is infinite */
}

@keyframes animation_name {
  /*                          (x,  y) */
  0% { background-position:   0%   0%; }     /* x=top left, y=centre */
  50% { background-position:  100% 50%; }     /* x=bottom left, y=centre */
  100% { background-position: 0%   100%; }     /* x=top left, y=centre */
}

#particles-js canvas{
  position: fixed;
  width: 100%;
  height: 100vh;
}
/* only put the core elements on top of #particles-js, not the entire page because it removes the interactivity */
.portfolio p, .portfolio a, .portfolio h2, .portfolio h1, .portfolio h3, .portfolio h4, .portfolio h5, .portfolio h6, .portfolio .project, .my-navbar {
  z-index: 1;
  position: relative;
}

.center-me {
  text-align: center;
}

/* ------------------------------------------<2: NAVBAR (includes top and side navigation)>------------------------------------------ */
.my-navbar {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  top: 0;
  left: 0;
}

.my-navbar ul {
  margin: 0;
}

.my-navbar ul a {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  color: var(--nav-item-text) !important;
  font-weight: 500;
}
.my-navbar ul a.active {
  color: var(--nav-item-text-active) !important;
}
.my-navbar ul a.active li {
  background-color: var(--nav-item-bg-active);
}
.my-navbar ul a:hover {
  text-decoration: none;
  cursor: pointer;
}

.my-navbar ul a li {
  text-transform: uppercase;
  padding: 0.3em;
  margin: 0 0.4em;
  border-radius: 12px;
}
.my-navbar ul a li:hover {
  background-color: var(--nav-item-bg-hover);
}

.my-navbar ul .delimiter {
  font-family: Arial,sans-serif;
  font-weight: normal;
  letter-spacing: 0px;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: var(--nav-delimiter);
  padding-left: 0.1em;
  padding-right: 0em;
}

.theme-toggle {
  color: var(--nav-item-theme-toggle-color);
  border: 1px solid transparent;
  background-color: transparent;
  height: 42px;
  border-radius: 5px;
  cursor: pointer;
  transition: 150ms ease;
  display: inline-block;
  right: 20px;
  top: 20px;
  position: absolute;
}
.theme-toggle:hover {
  color: var(--nav-item-theme-toggle-color-hover);
}
.theme-toggle:active {
  border: 1px solid var(--nav-item-theme-toggle-border-color-active);
}
.theme-toggle .inline-svg {
  width: 2.6em;
}
.inline-svg {
  width: 1em;
  display: block;
}
.inline-svg[hidden] {
  display: none;
}
svg:not(:root) {
  overflow: hidden;
}

/* ---------------< Logo >--------------- */
/* add padding to the logo's link container */
.my-navbar ul a:first-child {
  padding: 1.2em 1.7em;
}

svg.logo {
  width: 65px;
  height: 65px;
  stroke: rgb(26, 9, 39);
  stroke-width: 0.1px;
  stroke-opacity: 0.11;
  z-index: 10;
}

svg.logo polygon:hover {
  cursor: pointer;
  fill-opacity: 0.50;
}

svg.logo polygon.a { fill: rgb(177, 170, 89); fill-opacity: 1; }
svg.logo polygon.b { fill: rgb(255, 239, 69); fill-opacity: 0.84; }
svg.logo polygon.c { fill: rgb(255, 192, 203); fill-opacity: 0.28;  }
svg.logo polygon.d { fill: rgb(193, 208, 96); fill-opacity: 0.64; }
svg.logo polygon.e { fill: rgb(36, 94, 170); fill-opacity: 0.41; }
svg.logo polygon.f { fill: rgb(63, 67, 31); fill-opacity: 0.29; }

svg.logo polygon:hover { 
  cursor: pointer;
  fill-opacity: 0.49;
  fill: rgb(67, 177, 175);
}

.hamburger-menu-icon {
  position: absolute;
  right: 40px;
  transition: 0.3s all;
  display: flex;
  align-items: center;
}

.hamburger-menu-icon label[for=toggle] {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 25px;
  justify-content: space-between;
}

.hamburger-menu-icon label[for=toggle] span {  
  background-color: rgb(0, 0, 0);
  display: block;
  height: 5px;
  width: 30px;
  border-radius: 50px;
}


/* ------------------------------------------<3: MAIN CONTAINER>------------------------------------------ */
.page-wrapper {
  font-size: 2.5rem;
  width: 100vw;
  top: 0;
  margin-top: -210px;
}

.page-wrapper.university,
.page-wrapper.blog,
.page-wrapper.notes {
  height: 111vh;
}

.page-wrapper.university,
.page-wrapper.universityAssignment,
.page-wrapper.blog,
.page-wrapper.blog-post,
.page-wrapper.notes {
  background-color: var(--page-wrapper-bg) !important;
}

.page-title {
  color: var(--page-title);
  text-align: center;
  font-size: 3.15rem !important;
  font-weight: bold !important;
  margin-bottom: 50px !important;
}

*:focus {
  outline: 0;
  outline: none;
}


/* ------------------------------------------<4: PORTFOLIO>------------------------------------------ */
.portfolio {
  top: 0;
  color: var(--intro-text);
  height: 270vh;
  padding-top: 100px;
}

.portfolio p {
  font-size: 1.25rem;
	line-height: 1.8em;
	letter-spacing: -0.014em;
	font-feature-settings: "ss03","zero","cv08","cv11" 1;
  text-transform: none;
}
.portfolio h1 {
  font-size: 6vw;
  line-height: 0.9em;
  margin: 0.2em 0 0.6em;
  font-weight: 900;
}
.portfolio h2 {
  font-size: 4vw;
  font-weight: 900;
  margin: 0.2em 0 0.6em;
}

.portfolio #about, 
.portfolio #projects,
.portfolio #contact {
  height: 100vh;
  padding: 0 25px;
}

#about, .projects-header {
  padding-left: 200px;
  transition: padding-left 0.3s ease-out;
}

/* the arrow button that takes to an area on the same page */
.smooth-scroll-btn {
  width: 100%;
  margin-top: 1.8em;
}
.smooth-scroll-btn a i {
  font-size: 5rem;
  cursor: pointer;
  color: var(--arrow-smooth-scroll-btn);
}
.smooth-scroll-btn a i:hover {
  color: var(--contact-btn-colour-hover);
}

/* --------------<#about SECTION> -------------- */
#about {
  padding: 170px 0px 0px 200px !important;
  display: block;
  top: auto;
	right: auto;
	bottom: auto;
  max-width: 1500px;
  margin-top: 100px;
}

#about img {
  object-fit: cover;
  object-position: 100% 100%; /* positioned top left of the content box */
  width: 250px;
  height: 250px;
  border-radius: 50%;
  filter: drop-shadow(0 0 15px #000);
}

@media screen and (max-width: 900px) {
  #about img {
    width: 230px;
    height: 230px;
    transition: 0.3s all;
  }
}

/* The contact buttons */
.contact {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}

.contact i {
  font-size: 50px;
  color: var(--contact-btn-colour);
}

.contact a {
  cursor: pointer;
  text-decoration: none;
  padding: 20px;    /* space out the contact icons */
}

.contact .cv .contact-btn {
  background-color: var(--contact-btn-colour);
  border: 1px solid var(--contact-btn-border-colour);
  color: var(--contact-btn-font-colour);
  opacity: 0.7;
  font-size: 20px;
  border-radius: 20px;
  padding: 20px;
  display: inline-block;
}

.contact i:hover {
  color: var(--contact-btn-colour-hover);
  transition: 0.3s;
}
.contact-btn:hover {
  background-color: var(--contact-btn-colour-hover) !important;
  transition: 0.3s;
  color: var(--bg1);
}

/* --------------<#projects SECTION> -------------- */
#projects {
  padding-top: 0px;
}

.projects-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  padding: 0 120px;
}

/* Media queries for the project images */
@media screen and (min-width: 1910px) { .project img { width: 18.5vw; } }
@media screen and (max-width: 1900px) { .project img { width: 15.9vw; } }
@media screen and (max-width: 1879px) { .project img { width: 18.9vw; } }
@media screen and (max-width: 1595px) { .project img { width: 24.1vw; } }
@media screen and (max-width: 1282px) { .project img { width: 32.1vw; } }
@media screen and (max-width: 969px) { .project img { width: 48.1vw; } }
@media screen and (max-width: 656px) { .project img { width: 97.1vw; } }
/* -- I had this before because I wanted two projects to be visible on the same row on a phone...
  ... but overtime I've not been a big fan of it, so I'm commenting it out for now.
@media screen and (max-width: 500px) {
  .projects-container {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .project {
      height:42vh;
  }
}
*/

.project {
  background-color: var(--project-card-bg) !important;
  border: 1px solid var(--project-card-bg) !important;
  box-shadow: 0 1px 3px 0 var(--project-card-shadow),0 0 0 1px var(--project-card-bg) !important;
  text-align: left;
}

.project, .image {
  border-radius: 10px;
}

.project a {
  text-decoration: none;
}

.project img {
  height: 29vh;
}

.project * {
  color: var(--project-card-text-color);
}

.cropped {
  height: 15vh !important;
  object-fit: cover;
}

.image {
  cursor: pointer;
  overflow: hidden;
  border: 1px solid var(--project-card-bg);
}

.proj-title {
  font-size: 1.4rem;
}
.proj-date { 
  font-size: 0.8rem;
}
.proj-details { 
  font-size: 0.94rem;
  padding: 3px 5px 10px 5px;
}

/* Rules for when mouse hovers over a project */
.project a:hover {
  color: var(--project-card-text-hover);
}
.project img:hover {
  transition: opacity 0.5s;
  opacity: 0.4;
}
.image:hover + .proj-details > .proj-title > a {
  color: var(--project-card-text-hover);
}


/* ------------------------------------------<5: BLOG PAGE>------------------------------------------ */
.page-wrapper.blog {
  padding: 13rem 0rem;
}

.blog h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.posts-container {
  position: relative;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 1.0rem;
  background-color: var(--blog-table-bg);
  width: 50%;
  margin: 0 auto;
}

table tr, table tr a { 
  text-align: left; 
}

table thead { 
  text-align: center;
  background-color: var(--blog-table-thead-bg);
}

table th, table td {
  padding: 0.3rem 0.5rem;
  border: 1px solid var(--blog-table-border);
}

table td:nth-child(1) { width: 20%; }   /* 1st column */
table td:nth-child(2) { width: 10% }   /* 2nd column */
table td:nth-child(3) { width: 70%; }  /* 3rd column */
table td:nth-child(4) { width: 0%; }  /* 4th column */

table tr {
  line-height: 1.4;
}

table tr {
  color: var(--blog-table-text);
}

table tr a {
  color: var(--text-hyperlink);
  opacity: 0.6;  
  text-decoration: none;
}

table tbody tr a:hover {
  opacity: 1.0;  
}

table tbody tr:hover {
  color: var(--blog-table-text-hover);
  background-color: var(--blog-table-row-bg-hover);
}

table .tag {
  display: inline-block;
}

table .tag span {
  margin-right: 4px;
  padding: 3px 5px;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: var(--blog-table-tag-bg);
  color: var(--blog-table-tag-text);
}

table .tag .Hardware { background-color: rgb(22, 94, 48); color: rgb(37, 216, 129); }
table .tag .Astronomy { background-color: rgb(122, 77, 230); color: rgb(238, 238, 238); }
table .tag .Mathematics { background-color: rgb(192, 86, 29); color: rgb(238, 238, 237); }
table .tag .Python { background-color: rgb(128, 155, 243); color: rgb(235, 235, 235); }
table .tag .Life { background-color: rgba(0, 0, 0, 0.864); color: rgb(255, 255, 255); }
table .tag .Biology { background-color: rgb(80, 139, 20); color: rgb(255, 255, 255); }
table .tag .React { background-color:rgb(9, 204, 188); color: rgb(255, 255, 255); }


/* ------------------------------------------<6: BLOG POST PAGE>------------------------------------------ */
.blog-post {
  padding: 15rem 15rem;
  /*
  max-width: 80vw;
  */
  margin-right: auto;
  margin-left: auto;
  min-height: 100vh;
  border-radius: 0px;
  letter-spacing: 0px;
  font-style: normal;
  transition: 0.3s all;
}

.blog-post-content .intro,
.blog-post-content .main,
.blog-post-content .conclusion {
  padding-bottom: 50px;
}

.blog-post-title {
  color: var(--blog-post-title-text);
  font-size: 4.4rem;
  font-weight: 900;
}

.blog-post-date {
  font-size: 0.9rem;
  padding-bottom: 40px;
  color: var(--blog-post-date-text);
}

.blog-post-content p,
.blog-post-content ul li,
.blog-post-content ol li {
  font-size: 18px;
  color: var(--blog-post-text);
  margin-left: 5px;
}

.blog-post-content p.note {
  font-size: 0.9rem;
  color: var(--blog-post-note-text);
  font-style: italic;
}

.blog-post-content ul li {
  white-space: pre-wrap;
}

.blog-post-content ol, .blog-post-content ul {
  font-size: 1.05rem;
  padding: 0 30px;
}

.blog-post-content hr {
  border: 1px solid var(--blog-post-hr);
  border-radius: 10px;
}

.blog-post-content h1, .blog-post-content h2, .blog-post-content h3, .blog-post-content h4, .blog-post-content h5, .blog-post-content h6 { 
  line-height: 1.3em;
  margin-top: 40px;
  font-weight: 400;
  color: var(--blog-post-subTitle-text-color);
}
.blog-post-content p, .blog-post-content ol, .blog-post-content ul { 
  line-height: 1.7em;
}

.back-to-previous-page {
  color: inherit;
  padding: 5px;
  border: 2px solid transparent;
  border-radius: 10px;
  margin-left: -30px;
  margin-left: -45px;
}
.back-to-previous-page span.svg-beside-text {
  font-size: 0.9rem;
  padding-bottom: 40px;
  color: var(--blog-post-back-to-table-text);
}
.back-to-previous-page svg.invertable-icon {
  margin-bottom: -8px;
  width: 32px;
  height: 32px;
  padding: 7px;
  border-radius: 6px;
  border: 2px solid transparent;
  opacity: 0.5;
}

svg.invertable-icon {
  filter: invert(var(--svg-icon-invert-percentage));
}

.blog-post delete-button {
  padding: 10px;
  border-radius: 4px;
  background-color: var(--nav-item-bg-active);
  color: var(--nav-item-text);
}


/* ------------------------------------------<7: University>------------------------------------------ */
.page-wrapper.university {
  /* padding: 100px 125px 100px 50px; */
  padding: 13rem 6rem;
}

.university h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.university .controls {
  /*
  display: flex;
  flex-direction: row;
  float: right;
  */
}

.university .controls .btn {
  border-radius: 100px;
  padding: 7px;
  position: relative;
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
}
.university .controls .btn:active {
  background-color: var(--university-controls-btn-bg);
  transition: background-color 250ms ease-in-out;
}

.university .controls svg {
  width: 25px !important;
  height: 25px !important;
  fill: var(--university-controls-btn-svg-fill);
}

.university .card-grid {
  grid-template-columns: repeat(6, 1fr);
  margin: 0 auto;
  display: grid;
  grid-gap: 24px;
}

.university .card-grid > .card {
  box-shadow: 0 1px 4px 0 var(--university-card-box-shadow);
  background: var(--university-card-bg);
  border: 4px solid var(--university-card-border-color);
  border-radius: 7px;
  display: flex;
  height: 240px;
  flex-direction: column;
  position: relative;
}
.university .card-grid > .card:hover {
  border: 4px solid var(--university-card-border-color-hover);
  transition: border 200ms ease-in;
}

.university .card-grid > .card > a.card-link > .card-img-wrapper {
  width: 100%;
  position: relative;
}
.university .card-grid > .card > a.card-link > .card-img-wrapper picture {
  opacity: 1;
  height: 0;
  padding-top: 50%;
  display: block;
  position: relative;
}
.university .card-grid > .card > a.card-link > .card-img-wrapper picture img {
  border-radius: 4px 4px 0 0;
  box-shadow: inset 0 0 0 0.5px var(--university-card-img-box-shadow);
  background-color: var(--university-card-img-bg-color);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 620px;
}

.university .card-grid > .card > a.card-link > div.card-meta {
  display: flex;
  flex-direction: column;
  padding: 3px 10px;
  flex-grow: 1;
}

div.card-meta > * {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  word-break: break-word;
}
div.card-meta p {
  line-height: 20px;
  margin: 0;
}

p.card-moduleTitle {
  color: var(--university-card-moduleTitle-text-color);
  font-size: 12px;
  margin-bottom: 2px;
}

p.card-assignmentTitle {
  color: var(--university-card-assignmentTitle-text-color);
  font-size: 16px;
  font-weight: 600;
}

p.card-date {
  color: var(--university-card-date-text-color);
  font-size: 11px;
  position: absolute;
  bottom: 0px;
  left: 9px;
}

p.card-stage {
  color: var(--university-card-stage-text-color);
  font-size: 11px;
  position: absolute;
  bottom: 0px;
  right: 9px;
}

div.card-percentage {
  color: var(--university-card-percentage-text-color);
  font-size: 11px;
  line-height: 20px;
  margin: 0;
  background-color: var(--university-card-percentage-bg-color);
  border-radius: 10px;
  width: 33px;
  position: absolute;
  top: 8px;
  right: 8px;
  text-align: center;
}
/*
div.card-percent:hover {
  width: 30px;
  text-align: left;
  padding-right: 5px;
  padding-left: 5px;
}
div.card-percent:hover::after {
  content: ' %';
}*/


/* ------------------------------------------<8: UNIVERSITY ASSIGNMENT PAGE>------------------------------------------ */
.page-wrapper.universityAssignment {
  padding: 6rem 0rem;
}

.page-wrapper.universityAssignment .wrapper {
  width: 100%;
}

@media (min-width: 1550px) {
  .page-wrapper.universityAssignment .wrapper {
    max-width: 1480px;
    margin: 0 auto;
    padding: 150px 0px;
  }
}
/* .page-info container */
@media (min-width: 1280px) { 
  .row > .col-lg-4-12 {
    width: 33.333333%;
  }
}

.page-info > div:first-child {
  margin-top: 0;
}
.page-info > div {
  margin-top: 43px;
}


/* .page-content container */
.page-content {
  margin-top: 20px;
}

@media (min-width: 1024px) {
  .page-content {
    margin-top: 55px;
  }
}

@media (min-width: 1280px) {
  .row > .col-lg-offset-2-12 {
    margin-left: 16.666666667%;
  }
}

@media (min-width: 1280px) {
  .row > .col-lg-6-12 {
    width: 50%;
  }
}

.page-info h2, .page-info h1, .page-info h3, .page-info p.intro {
  font-weight: 800;
  letter-spacing: -.01em;
  color: var(--university-assignment-title-text-color);
}

.page-info h5 {
  font-weight: 400;
  letter-spacing: 0.4em !important;
  color: var(--university-assignment-subheading-text-color);
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  padding: 5px 0;
}

.page-info h4 {
  font-weight: 800;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  padding-top: 1px;
  padding-bottom: 4px;
  font-weight: 500;
  color: var(--university-assignment-subheading-detail-text-color);
  letter-spacing: normal;
}

@media (min-height: 620px) and (min-width: 768px), (min-width: 1280px) {
  .page-info h1 {
    font-size: 2.75rem;
    line-height: 3.125rem;
    padding-top: 4px;
    padding-bottom: 1px;
  }
}

.page-content div.intro > p {
  font-size: 1.375rem;
  line-height: 1.875rem;
  font-weight: 500;
  color: var(--university-assignment-main-text-color);
  letter-spacing: normal;
}
@media (min-height: 620px) and (min-width: 768px), (min-width: 1280px) {
  .page-content div.intro > p {
    font-size: 1.375rem;
    line-height: 1.875rem;
    padding: 2px 0px 3px 0px;
  }
}

.page-content div.main p {
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 100;
  color: var(--university-assignment-main-text-color);
  letter-spacing: normal;
}
@media (min-height: 620px) and (min-width: 768px), (min-width: 1280px) {
  .page-content div.main > p {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
}


.universityAssignment svg {
  width: 13px;
  margin-right: 5px;
}

/* ------------------------------------------<9: NOTES>------------------------------------------ */
.page-wrapper.notes {
  /* padding: 100px 125px 100px 50px; */
  padding: 13rem 1rem;
}


/* ------------------------------------------<10: MEDIA QUERIES>------------------------------------------ */
@media screen and (max-width: 900px) { #about, .projects-header { padding-left: 100px !important; } #about p { margin-left: 7px; } }
@media screen and (max-width: 700px) { #about, .projects-header { padding-left: 50px !important; } }
@media screen and (max-width: 600px) { #about, .projects-header { padding-left: 35px !important; padding-right: 15px !important; } }


/* hide nav items when screen is too small */
@media screen and (max-width: 700px) { .my-navbar ul { padding: 0; } }
@media screen and (max-width: 600px) { .my-navbar ul a li, .delimiter { display: none; } }

/* make font size get smaller on blog table */
@media only screen and (max-width: 1300px) { table { font-size: 0.9rem; transition: 0.3s all; } }
@media only screen and (max-width: 989px)  { table { font-size: 0.8rem; width: 95%; transition: 0.3s all; } }

/* remove padding from the #about section as screen gets smaller */
@media screen and (max-width: 1125px) { #about{ padding: 50px 170px 0px 170px; } }
@media screen and (max-width: 990px) { #about{ padding: 50px 140px 0px 140px; } }
@media screen and (max-width: 700px) { #about{ padding: 50px 90px 0px 90px; } }
@media screen and (max-width: 500px) { #about{ padding: 50px 30px 0px 30px; } }
@media screen and (max-width: 400px) { #about{ padding: 50px 5px 0px 5px; } }

/* remove padding from a blog post as screen gets smaller */
@media only screen and (max-width: 1500px) { .blog-post { padding-left: 300px; padding-right: 300px; } }
@media only screen and (max-width: 1200px) { .blog-post { padding-left: 200px; padding-right: 200px; } }
@media only screen and (max-width: 1100px) { .blog-post { padding-left: 100px; padding-right: 100px; } }
@media only screen and (max-width: 1000px) { .blog-post { padding-left: 50px; padding-right: 50px; } }
@media only screen and (max-width: 900px) { .blog-post { padding-left: 10px; padding-right: 10px; } }

/* change size of contact buttons as page is resized */
@media only screen and (max-width: 900px) { .contact i {  font-size: 45px; transition: 0.3s; } }
@media only screen and (max-width: 700px) { .contact i {  font-size: 40px; transition: 0.3s; } }
@media only screen and (max-width: 500px) { .contact i { font-size: 35px; transition: 0.3s; } }


@media only screen and (max-width: 640px) { 
  .contact {
      display: grid;
      /* height: 100%;*/
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 1px 1px;
      grid-template-areas: "codepen github linkedin email" "cv cv cv cv";
    }
    .contact a {
        padding: 0px;
    }
    .codepen { grid-area: codepen; }
    .github { grid-area: github; }
    .cv { grid-area: cv; grid-column: 1 / 5; }
}

@media only screen and (max-width: 670px) {
  #about {
      margin: 0 auto;
  }
}


/* 
 The custom scrollbar I am using is not available in Firefox, Internet Explorer or Edge, and for those browsers the default scrollbar is used 
 Otherwise, this custom scrollbar will be used.
 Basically if you are using Chrome you get a funky custom scrollbar

Inspiration for scrollbar: https://stackoverflow.com/questions/9251354/css-customized-scroll-bar-in-div
*/
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(27, 28, 29, 0.87);
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #555;
}

::selection {
  background: var(--text-highlight-color); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--text-highlight-color); /* Gecko Browsers */
}