
/*
    0: Variables
    1: Setup
    2: Navbar
    3: Main container
    4: #about section
    5: #projects section
    6: #contact section
    7: Blog page
    8: Blog post page
    9: University page
    10: Media queries
*/

/* ------------------------------------------<0: VARIABLES>------------------------------------------ */
/* Lightmode */
:root {
  --header-bg: rgb(27, 28, 29);
  --headings: rgb(29, 29, 29);
  --header-btn-hover: rgb(67, 177, 175);
  --header-btn-focus: rgb(93, 199, 197);
  --header-text: rgb(0, 0, 0);
  --header-height: 50px;

  --sidebar-bg: rgb(255, 255, 255);
  --sidebar-width: 110px;

  /*
  --bg1: rgb(104, 73, 218);
  --bg2: rgba(102, 238, 165, 0.521);
  */

  /*
  --bg1: rgb(79, 156, 158);
  --bg2: rgba(255, 145, 0, 0.4);
  */

  --bg1: rgb(255, 255, 255);
  --bg2: rgb(219, 212, 188);

  --text: rgb(128, 128, 128);
  --text-hover: rgb(39, 39, 39);
  --introtext: rgb(0, 0, 0);
  
  --proj-shadow: rgb(0, 0, 0);
  --proj-bg: rgb(248, 249, 250);

  --contact-btn-colour: rgb(26, 26, 26);
  --contact-btn-font-colour: rgb(196, 196, 196);
  --contact-btn-border-colour: rgb(0, 0, 0);
  --contact-btn-text-colour: rgb(255, 255, 255);
  --contact-btn-colour-hover: rgb(88, 88, 88);

  --btn-border-radius: 20px;
}

/*  Darkmode 
:root {
  --header-bg: rgb(27,28,29);
  --headings: rgb(249, 249, 249);
  --header-btn-hover: rgb(97, 97, 97);
  --header-text: rgb(255, 255, 255);
  --bg1: rgb(0, 0, 26);
  --bg2: rgba(41, 41, 41, 0.719);
  --text: rgb(255, 255, 255);
  --introtext: rgb(197, 197, 197);
  --proj-shadow: rgb(0, 0, 0);
  --proj-bg: rgb(29, 31, 32);
  --contact-btn: rgb(255, 255, 255);
}
*/

/* ------------------------------------------<1: SETUP>------------------------------------------ */
html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  font-family: 'Karla', sans-serif !important;
  padding: 0;
  margin: 0;
  background: linear-gradient(
      180deg,
      var(--bg1),    /* transition from orange(#ff4400) to blue(#1666c1), at an angle of 132deg */
      var(--bg2)
  );
  background-size: 1000% 1000%;
  animation: animation_name 25s ease infinite;    /* lasts 30s, eases in, and is infinite */
}

@keyframes animation_name {
  /*                          (x,  y) */
  0% { background-position:   0%   50%; }     /* x=top left, y=centre */
  50% { background-position:  100% 50%; }     /* x=bottom left, y=centre */
  100% { background-position: 0%   50%; }     /* x=top left, y=centre */
}

#particles-js canvas{
  position: fixed;
  width: 100%;
  height: 100vh;
}
/* only put the core elements on top of #particles-js, not the entire page because it removes the interactivity */
.portfolio p, .portfolio a, .portfolio h2, .portfolio h1, .portfolio h3, .portfolio h4, .portfolio h5, .portfolio h6, .portfolio .project {
  z-index: 1;
  position: relative;
}

/* ------------------------------------------<2: NAVBAR (includes top and side navigation)>------------------------------------------ */
nav {
  display: inline-block;
  vertical-align: middle;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

nav ul {
  margin: 0;
}

nav ul a {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  color: rgb(153, 153, 153) !important;
  font-weight: 500;
}
nav ul a.active {
  color: rgb(5, 194, 191) !important;
}
nav ul a.active li {
  background-color: rgba(67, 177, 175, 0.097);
}
nav ul a:hover {
  text-decoration: none;
  cursor: pointer;
}

nav ul a li {
  text-transform: uppercase;
  padding: 0.3em;
  margin: 0 0.4em;
  border-radius: 12px;
}
nav ul .delimiter {
  font-family: Arial,sans-serif;
  font-weight: normal;
  letter-spacing: 0px;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: rgb(179, 179, 179);
  padding-left: 0.1em;
  padding-right: 0em;
}

nav ul a li:hover {
  background-color: rgba(67, 177, 175, 0.097);
}


/* ---------------< Logo >--------------- */

/* add padding to the logo's link container */
nav ul a:first-child {
  padding: 1.2em 1.7em;
}

svg.logo {
  width: 65px;
  height: 65px;
  stroke: rgb(26, 9, 39);
  stroke-width: 0.1px;
  stroke-opacity: 0.11;
  z-index: 10;
}

svg.logo polygon:hover {
  cursor: pointer;
  fill-opacity: 0.50;
}

.sw {fill:none;stroke:black;stroke-width:3px;}
.fo {fill-opacity:0.2;}
.color1 {fill:red;}
.color2 {fill:lime;}
.color3 {fill:blue;}

svg.logo polygon.a { fill: rgb(177, 170, 89); fill-opacity: 1; }
svg.logo polygon.b { fill: rgb(255, 239, 69); fill-opacity: 0.84; }
svg.logo polygon.c { fill: rgb(255, 192, 203); fill-opacity: 0.28;  }
svg.logo polygon.d { fill: rgb(193, 208, 96); fill-opacity: 0.64; }
svg.logo polygon.e { fill: rgb(36, 94, 170); fill-opacity: 0.41; }
svg.logo polygon.f { fill: rgb(63, 67, 31); fill-opacity: 0.29; }

svg.logo polygon:hover { 
  cursor: pointer;
  fill-opacity: 0.49;
  fill: rgb(67, 177, 175);
}

.hamburger-menu-icon {
  position: absolute;
  right: 40px;
  transition: 0.3s all;
  display: flex;
  align-items: center;
}

.hamburger-menu-icon label[for=toggle] {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 25px;
  justify-content: space-between;
}

.hamburger-menu-icon label[for=toggle] span {  
  background-color: var(--header-text);
  display: block;
  height: 5px;
  width: 30px;
  border-radius: 50px;
}


/* ------------------------------------------<3: MAIN CONTAINER>------------------------------------------ */
.page-wrapper {
  font-size: 2.5rem;
  z-index: 999;
  height: 100vh;
}

.page-wrapper.university,
.page-wrapper.universityAssignment,
.page-wrapper.blog,
.page-wrapper.blog-post,
.page-wrapper.notes {
  background-color: rgb(251, 251, 251);
}

.page-title {
  color: rgba(0, 0, 0, 0.529);
  text-align: center;
  font-size: 3.15rem !important;
  font-weight: bold !important;
  margin-bottom: 50px !important;
}

*:focus {
  outline: 0;
  outline: none;
}

/* ------------------------------------------<4: #about SECTION>------------------------------------------ */
#about, #projects, #contact {
  height: 100vh;
  padding: 0 25px;
}

#about, .projects-header {
  padding-left: 200px;
}

#about {
  padding: 170px 0px 0px 200px !important;
  display: block;
}

#about img {
  object-fit: cover;
  object-position: 100% 100%; /* positioned top left of the content box */
  width: 250px;
  height: 250px;
  border-radius: 50%;
  filter: drop-shadow(0 0 15px #000);
}

@media screen and (max-width: 900px) {
  #about img {
    width: 230px;
    height: 230px;
    transition: 0.3s all;
  }
}

#about {
	top: auto;
	right: auto;
	bottom: auto;
  max-width: 1500px;
  margin-top: 100px;
}

.portfolio {
  top: 0;
}

.portfolio p {
	font-size: 0.45em;
	line-height: 1.8em;
	letter-spacing: -0.014em;
	font-feature-settings: "ss03","zero","cv08","cv11" 1;
	color: #292e31;
  text-transform: none;
}
.portfolio h1 {
  font-size: 6vw;
  line-height: 0.9em;
  margin: 0.2em 0 0.6em;
  font-weight: 900;
}
.portfolio h2 {
  font-size: 4vw;
  font-weight: 900;
  margin: 0.2em 0 0.6em;
}

.center-me {
  text-align: center;
}

/* the arrow button that takes you to my projects */
div .smooth-scroll-btn {
  font-size: 5rem;
  cursor: pointer;
  color: rgb(53, 53, 53);
}
div .smooth-scroll-btn:hover {
  color: var(--contact-btn-colour-hover);
}

.arrow-to-projects {
  width: 100%;
  margin-top: 1.8em;
}

.arrow-to-about {
  width: 100%;
  margin-top: 1.8em;
}

/* The contact buttons */
.contact {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}

.contact i {
  font-size: 50px;
  color: var(--contact-btn-colour);
}

.contact a {
  cursor: pointer;
  text-decoration: none;
  padding: 20px;    /* space out the contact icons */
}

.contact .cv .contact-btn {
  background-color: var(--contact-btn-colour);
  border: 1px solid var(--contact-btn-border-colour);
  color: var(--contact-btn-font-colour);
  opacity: 0.7;
  font-size: 20px;
  border-radius: var(--btn-border-radius);
  padding: 20px;
  display: inline-block;
}

.contact i:hover {
  color: var(--contact-btn-colour-hover);
  transition: 0.3s;
}
.contact-btn:hover {
  background-color: var(--contact-btn-colour-hover) !important;
  transition: 0.3s;
  color: var(--bg1);
}

/* ------------------------------------------<5: #projects SECTION>------------------------------------------ */
#projects {
  padding-top: 0px;
}

.projects-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  padding: 0 120px;
}

/* Media queries for the project images */
@media screen and (min-width: 1910px) { .project img { width: 18.5vw; } }
@media screen and (max-width: 1900px) { .project img { width: 15.9vw; } }
@media screen and (max-width: 1879px) { .project img { width: 18.9vw; } }
@media screen and (max-width: 1595px) { .project img { width: 24.1vw; } }
@media screen and (max-width: 1282px) { .project img { width: 32.1vw; } }
@media screen and (max-width: 969px) { .project img { width: 48.1vw; } }
@media screen and (max-width: 656px) { .project img { width: 97.1vw; } }
/* -- I had this before because I wanted two projects to be visible on the same row on a phone...
  ... but overtime I've not been a big fan of it, so I'm commenting it out for now.
@media screen and (max-width: 500px) {
  .projects-container {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .project {
      height:42vh;
  }
}
*/

.project {
  background-color: var(--proj-bg) !important;
  border: 1px solid var(--proj-bg) !important;
  box-shadow: 0 1px 3px 0 var(--proj-shadow),0 0 0 1px var(--proj-bg) !important;
  text-align: left;
}

.project, .image {
  border-radius: 10px;
}

.project a {
  text-decoration: none;
}

.project img {
  height: 29vh;
}

.project * {
  color: var(--introtext);
}

.cropped {
  height: 15vh !important;
  object-fit: cover;
}

.image {
  cursor: pointer;
  overflow: hidden;
  border: 1px solid var(--proj-bg);
}

.proj-title {
  font-size: 1.4rem;
}
.proj-date { 
  font-size: 0.8rem;
}
.proj-details { 
  font-size: 0.94rem;
  padding: 3px 5px 10px 5px;
}

/* Rules for when mouse hovers over a project */
.project a:hover {
  color: var(--text);
}
.project img:hover {
  transition: opacity 0.5s;
  opacity: 0.4;
}
.image:hover + .proj-details > .proj-title > a {
  color: var(--text);
}


/* ------------------------------------------<7: BLOG PAGE>------------------------------------------ */
.page-wrapper.blog {
  padding: 90px 0px;
}

.blog h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.posts-container {
  position: relative;
  margin-top: 40px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 1.0rem;
  background-color: rgb(255, 255, 255);
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 1300px) { table { font-size: 0.9rem; transition: 0.3s all; } }
@media only screen and (max-width: 989px)  { table { font-size: 0.8rem; width: 95%; transition: 0.3s all; } }


table tr, table tr a { 
  text-align: left; 
}

table thead { 
  text-align: center;
  background-color: rgb(248, 248, 248);
}

table th, table td {
  padding: 0.3rem 0.5rem;
  border: 1px solid rgb(237, 237, 237);
}

table td:nth-child(1) { width: 5%; }   /* ID column */
table td:nth-child(2) { width: 55% }   /* TITLE column */
table td:nth-child(3) { width: 15%; }  /* DATE column */
table td:nth-child(4) { width: 25%; }  /* TAGS column */

table tr {
  line-height: 1.4;
}

table tr {
  color: var(--text);
}

table tr a {
  opacity: 0.6;  
  text-decoration: none;
}

table tbody tr a:hover {
  opacity: 1.0;  
}

table tbody tr:hover {
  color: #000;
  background-color: rgb(251, 251, 251);
}

table .tag {
  display: inline-block;
}

table .tag span {
  margin-right: 4px;
  padding: 3px 8px;
  border-radius: 12px;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgb(236, 236, 236);
  color: rgb(27, 27, 27);
}

table .tag .internet { background-color: rgb(154, 230, 180); color: rgb(34, 84, 61); }
table .tag .astronomy { background-color: rgb(235, 213, 250); color: rgb(83, 34, 116); }
table .tag .mathematics { background-color: rgb(230, 207, 154); color: rgb(79, 84, 34); }
table .tag .python { background-color: rgb(82, 112, 211); color: rgb(235, 235, 235); }
table .tag .life { background-color: rgb(202, 202, 202); color: rgb(31, 31, 31); }


/* ------------------------------------------<8: BLOG POST PAGE>------------------------------------------ */
.blog-post {
  padding: 150px 250px; /* padding: 0px 550px; */
  margin: 0px;
  height: 100%;
  min-height: 100vh;
  border-radius: 0px;
  letter-spacing: 0px;
  font-style: normal;
  transition: 0.3s all;
}

/*
.blog-post-author > svg, 
.blog-post-date > svg,
.universityAssignment .author > svg,
.universityAssignment .date > svg {
  width: 13px;
  margin-right: 15px;
}

.blog-post-title, .blog-post-date, .blog-post-author {
  text-align: center;
}
*/

.blog-post-title {
  color: rgb(33, 33, 33);
  font-size: 5rem;
  font-weight: 900;
}

.blog-post-date {
  font-size: 0.9rem;
  padding-bottom: 40px;
  color: rgb(134, 134, 134);
}

.blog-post-author {
  font-size: 0.9rem;
  padding-bottom: 40px;
  color: rgb(134, 134, 134);
}

.blog-post-content p {
  font-size: 18px;
  color: rgb(66, 66, 66);
  margin-left: 5px;
}

.blog-post-content p.note {
  font-size: 0.9rem;
  color: rgb(153, 153, 153);
  font-style: italic;
}

.blog-post-content ul li {
  white-space: pre-wrap;
}

.blog-post-content ol, .blog-post-content ul {
  font-size: 1.05rem;
  padding: 0 30px;
}

.blog-post-content hr {
  border: 1px solid rgb(200, 200, 200);
  border-radius: 10px;
}

.blog-post-content h1, .blog-post-content h2, .blog-post-content h3, .blog-post-content h4, .blog-post-content h5, .blog-post-content h6 { line-height: 1.3em; margin-bottom: 30px; font-weight: 400; }
.blog-post-content p, .blog-post-content ol, .blog-post-content ul { line-height: 1.7em; }

.blog-post delete-button {
  padding: 10px;
  border-radius: var(--navbar-button-border-radius);
  background-color: var(--navbar-bg-color);
  color: var(--navbar-font-color);
  border: 1px solid var(--navbar-button-border-color);
}

.back-to-previous-page {
  color: inherit;
  padding: 5px;
  border: 2px solid transparent;
  border-radius: 10px;
  margin-left: -30px;
}

.back-to-previous-page span.svg-beside-text {
  font-size: 0.9rem;
  padding-bottom: 40px;
  color: rgb(134, 134, 134);
}
.back-to-previous-page svg.svg-icon {
  margin-bottom: -8px;
  width: 32px;
  height: 32px;
  padding: 7px;
  border-radius: 6px;
  border: 2px solid transparent;
  opacity: 0.5;
}

.red-text { color: red; }
.blue-text { color: blue; }
.green-text { color: rgb(2, 187, 2); }
.pink-text {color: rgb(221, 0, 173); }


/* ------------------------------------------<9: University>------------------------------------------ */
.page-wrapper.university {
  /* padding: 100px 125px 100px 50px; */
  padding: 90px 125px;
}

.university h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.university .controls {
  /*
  display: flex;
  flex-direction: row;
  float: right;
  */
}

.university .controls .btn {
  border-radius: 100px;
  padding: 7px;
  position: relative;
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
}
.university .controls .btn:active {
  background-color: rgba(224, 222, 222, 0.609);
  transition: background-color 250ms ease-in-out;
}

.university .controls svg {
  width: 25px !important;
  height: 25px !important;
  fill: rgb(156, 154, 154);
}

.university .card-grid {
  grid-template-columns: repeat(6, 1fr);
  margin: 0 auto;
  display: grid;
  grid-gap: 24px;
}

.university .card-grid > .card {
  box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.1);
  background: rgb(255, 255, 255);
  border: 4px solid rgb(251, 251, 251);
  border-radius: 7px;
  display: flex;
  height: 240px;
  flex-direction: column;
  position: relative;
}
.university .card-grid > .card:hover {
  border: 4px solid rgb(222, 222, 226);
  transition: border 200ms ease-in;
}

.university .card-grid > .card > a.card-link {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #0060df;
}

.university .card-grid > .card > a.card-link > .card-img-wrapper {
  width: 100%;
  position: relative;
}
.university .card-grid > .card > a.card-link > .card-img-wrapper picture {
  opacity: 1;
  height: 0;
  padding-top: 50%;
  display: block;
  position: relative;
}
.university .card-grid > .card > a.card-link > .card-img-wrapper picture img {
  border-radius: 4px 4px 0 0;
  box-shadow: inset 0 0 0 0.5px rgba(0, 0, 0, 0.15);
  background-color: #d7d7d8;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 620px;
}

.university .card-grid > .card > a.card-link > div.card-meta {
  display: flex;
  flex-direction: column;
  padding: 3px 10px;
  flex-grow: 1;
}

div.card-meta > * {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  word-break: break-word;
}
div.card-meta p {
  line-height: 20px;
  margin: 0;
}

p.card-moduleTitle {
  color: rgb(115, 115, 115);
  font-size: 12px;
  margin-bottom: 2px;
}

p.card-assignment {
  color: rgb(12, 12, 13);
  font-size: 16px;
  font-weight: 600;
}

p.card-date {
  color: rgb(126, 126, 126);
  font-size: 11px;
  position: absolute;
  bottom: 0px;
  left: 9px;
}

p.card-stage {
  color: rgb(126, 126, 126);
  font-size: 11px;
  position: absolute;
  bottom: 0px;
  right: 9px;
}

div.card-percentage {
  color: rgb(255, 255, 255);
  font-size: 11px;
  line-height: 20px;
  margin: 0;
  background-color: rgb(62, 156, 7);
  border-radius: 10px;
  width: 33px;
  position: absolute;
  top: 8px;
  right: 8px;
  text-align: center;
}
/*
div.card-percent:hover {
  width: 30px;
  text-align: left;
  padding-right: 5px;
  padding-left: 5px;
}
div.card-percent:hover::after {
  content: ' %';
}*/


/* ------------------------------------------<10: UNIVERSITY ASSIGNMENT PAGE>------------------------------------------ */
.page-wrapper.universityAssignment {
  height: 100%;
}

.page-wrapper.universityAssignment .wrapper {
  width: 100%;
  padding: 120px 35px;
}

@media (min-width: 1550px) {
  .page-wrapper.universityAssignment .wrapper {
    max-width: 1480px;
    margin: 0 auto;
    padding: 150px 0px;
  }
}
/* .page-info container */
@media (min-width: 1280px) { 
  .row > .col-lg-4-12 {
    width: 33.333333%;
  }
}

.page-info > div:first-child {
  margin-top: 0;
}
.page-info > div {
  margin-top: 43px;
}


/* .page-content container */
.page-content {
  margin-top: 20px;
}

@media (min-width: 1024px) {
  .page-content {
    margin-top: 55px;
  }
}

@media (min-width: 1280px) {
  .row > .col-lg-offset-2-12 {
    margin-left: 16.666666667%;
  }
}

@media (min-width: 1280px) {
  .row > .col-lg-6-12 {
    width: 50%;
  }
}

.page-info h2, .page-info h1, .page-info h3, .page-info p.intro {
  font-weight: 800;
  letter-spacing: -.01em;
  color: #0f141e;
}

.page-info h5 {
  font-weight: 400;
  letter-spacing: 0.4em !important;
  color: #878a8f;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  padding: 5px 0;
}

.page-info h4 {
  font-weight: 800;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  padding-top: 1px;
  padding-bottom: 4px;
  font-weight: 500;
  color: #0f141e;
  letter-spacing: normal;
}

@media (min-height: 620px) and (min-width: 768px), (min-width: 1280px) {
  .page-info h1 {
    font-size: 2.75rem;
    line-height: 3.125rem;
    padding-top: 4px;
    padding-bottom: 1px;
  }
}


.page-content p.intro {
  font-size: 1.375rem;
  line-height: 1.875rem;

  font-weight: 500;
  color: #878a8f;
  letter-spacing: normal;
}
@media (min-height: 620px) and (min-width: 768px), (min-width: 1280px) {
  .page-content p.intro {
    font-size: 1.375rem;
    line-height: 1.875rem;
    padding: 2px 0px 3px 0px;
  }
}

.universityAssignment svg {
  width: 13px;
  margin-right: 5px;
}

/* ------------------------------------------<10: NOTES>------------------------------------------ */
.page-wrapper.notes {
  /* padding: 100px 125px 100px 50px; */
  padding: 90px 125px;
}


/* ------------------------------------------<11: MEDIA QUERIES>------------------------------------------ */
@media screen and (max-width: 700px) { nav ul { padding: 0; } }
@media screen and (max-width: 600px) { nav ul a li, .delimiter { display: none; } }

/* remove padding from the #about section as screen gets smaller */
@media screen and (max-width: 1125px) { #about{ padding: 50px 170px 0px 170px; } }
@media screen and (max-width: 990px) { #about{ padding: 50px 140px 0px 140px; } }
@media screen and (max-width: 700px) { #about{ padding: 50px 90px 0px 90px; } }
@media screen and (max-width: 500px) { #about{ padding: 50px 30px 0px 30px; } }
@media screen and (max-width: 400px) { #about{ padding: 50px 5px 0px 5px; } }

/* remove padding from a blog post as screen gets smaller */
@media only screen and (max-width: 1400px) { .post { padding-left: 300px; padding-right: 300px; } }
@media only screen and (max-width: 1100px) { .post { padding-left: 200px; padding-right: 200px; } }
@media only screen and (max-width: 900px) { .post { padding-left: 100px; padding-right: 100px; } }
@media only screen and (max-width: 700px) { .post { padding-left: 10px; padding-right: 10px; } }

/* change size of contact buttons as page is resized */
@media only screen and (max-width: 900px) { .contact i {  font-size: 45px; transition: 0.3s; } }
@media only screen and (max-width: 700px) { .contact i {  font-size: 40px; transition: 0.3s; } }
@media only screen and (max-width: 500px) { .contact i { font-size: 35px; transition: 0.3s; } }

/* change font-size of #about section when page is resized */
@media only screen and (max-width: 1150px) { #about p { font-size: 0.7em; transition: 0.3s; } }
@media only screen and (max-width: 920px) { #about p { font-size: 0.65em; transition: 0.3s; } }
@media only screen and (max-width: 730px) { #about p { font-size: 0.6em; transition: 0.3s; } }

@media only screen and (max-width: 640px) { 
  .contact {
      display: grid;
      /* height: 100%;*/
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 1px 1px;
      grid-template-areas: "codepen github linkedin email" "cv cv cv cv";
    }
    .contact a {
        padding: 0px;
    }
    .codepen { grid-area: codepen; }
    .github { grid-area: github; }
    .cv { grid-area: cv; grid-column: 1 / 5; }
}

@media only screen and (max-width: 670px) {
  #about {
      margin: 0 auto;
  }
}


/* 
 The custom scrollbar I am using is not available in Firefox, Internet Explorer or Edge, and for those browsers the default scrollbar is used 
 Otherwise, this custom scrollbar will be used.
 Basically if you are using Chrome you get a funky custom scrollbar

Inspiration for scrollbar: https://stackoverflow.com/questions/9251354/css-customized-scroll-bar-in-div
*/
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(27, 28, 29, 0.87);
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #555;
}