
/*
    0: Variables
    1: Setup
    2: Navbar
    3: Main container
    4: Portfolio
    5: Blog page
    6: Blog post page
    7: University page
    8: University Assignment page
    9: Notes page
    10: Media queries
    11: Animations
    12: Scrollbars
    13: Miscellaneous
*/

/* #region ----------------------------------<0: VARIABLES>---------------------------------- */

/* particlejs variables */
:root {
  --particle-count: 88;
  --particle-density: 700;
  --particle-opacity: 0.25;
  --particle-size: 6.2;
  --particle-speed: 1.95;
  --line-count: 110;
  --line-opacity: 0.35;
  --line-width: 0.90;
  --linked-line-opacity: 1.1;
  --linked-line-radius: 190;
  --particle-color-1: rgb(170, 115, 255);
  --particle-color-2: rgb(248, 194, 16);
  --particle-color-3: rgb(131, 210, 56);
  --particle-color-4: rgb(247, 79, 57);
  --particle-line-color: rgba(112, 121, 126, 0.515);
}

/** LIGHT MODE */
:root {
  --bg1: rgb(234, 234, 234);  /* rgb(243, 235, 169);  rgb(104, 73, 218);           rgb(79, 156, 158);       rgb(255, 255, 255); */
  --bg2: var(--bg1);   /* rgb(191, 63, 63);    rgba(102, 238, 165, 0.521);  rgba(255, 145, 0, 0.4);  rgb(219, 212, 188); */

  --text: rgb(128, 128, 128);
  --text-darker: rgb(68, 68, 68);
  --intro-text: rgb(33, 37, 41);
  --text-hyperlink: rgb(0, 123, 255);
  --text-hyperlink-hover: rgb(9, 194, 250);

  --section-inner-bg-color: rgb(243, 243, 243);
  --page-wrapper-bg: var(--bg1);
  --page-text-color: rgba(0, 0, 0, 0.755);

  --topnav-bg-color: rgba(253, 252, 251, 0.729);
  --topnav-button-bg-color: var(--bg1);
  --topnav-button-bg-color-hover: rgb(216, 213, 213);
  --topnav-button-bg-color-active: rgb(40, 39, 69);
  --topnav-button-text-color: rgb(4, 3, 3);
  --topnav-button-text-color-hover: rgb(0, 0, 0);
  --topnav-button-text-color-active: rgb(255, 255, 255); 
  --topnav-collapsed-shadow-color: rgba(0, 0, 0, 0.849);
  --button-border-color-onclick: rgb(206, 206, 206);

  --logo-path-color: rgb(218, 234, 226);
  --logo-path-color-onclick: rgba(5, 120, 72, 0.897);
  --logo-stroke-color: rgb(17, 15, 15);
  --logo-stroke-color-hover: rgb(255, 255, 255);

  --sidenav-bg-color: rgba(253, 252, 251, 0);
  --sidenav-shadow-color: rgba(0,0,0,.45);
  --sidenav-item-text-color: rgb(33, 33, 33);
  --sidenav-item-border-bottom-hover: rgb(3, 170, 140);

  --scrollbar-clickybit-bg-color: rgb(18, 169, 119);
  --scrolbar-notclickybit-bg-color: rgb(19, 18, 18); 

  --arrow-smooth-scroll-btn: rgb(53, 53, 53);
  --arrow-smooth-scroll-btn-hover:  rgb(88, 88, 88);
  
  --project-card-shadow: rgb(0, 0, 0);
  --project-card-bg: rgb(248, 249, 250);
  --project-card-text-hover: rgb(94, 93, 93);
  --project-card-text-color: rgb(0, 0, 0);

  --blog-table-bg: var(--page-wrapper-bg);
  --blog-table-thead-bg: rgb(247, 247, 247);
  --blog-table-border: rgba(0, 0, 0, 0.202);
  --blog-table-text: var(--text);
  --blog-table-text-hover: var(--text);
  --blog-table-row-bg-hover: rgb(251, 251, 251);
  --blog-table-tag-bg: rgb(218, 226, 219);
  --blog-table-tag-text: rgb(27, 27, 27);

  --searchbox-bg-color: rgb(230, 230, 230);
  --searchbox-active-bg-color: rgb(215, 215, 215);
  --searchbox-border-color: rgb(226, 226, 226);
  --searchbox-placeholder-text-color: rgba(64, 64, 63, 0.435);
  --searchbox-text-color: rgb(37, 127, 253);

  --blog-post-title-text: rgb(33, 33, 33);
  --blog-post-subTitle-text-color: rgb(38, 38, 38);
  --blog-post-date-text: rgb(134, 134, 134);
  --blog-post-text: rgb(66, 66, 66);
  --blog-post-note-text: rgb(153, 153, 153);
  --blog-post-divider-color: rgb(243, 243, 243);
  --svg-icon-invert-percentage: 0%;

  --tags-text-color: rgb(75, 72, 72);
  --tags-Hardware-text-color: rgb(17, 140, 81);

  --university-controls-btn-bg: rgba(224, 222, 222, 0.609);
  --university-controls-btn-svg-fill: rgb(156, 154, 154);
  --university-card-box-shadow: rgba(12, 12, 13, 0.1);
  --university-card-bg: rgb(255, 255, 255);
  --university-card-border-color: rgb(251, 251, 251);
  --university-card-border-color-hover: rgb(222, 222, 226);
  --university-card-img-box-shadow: rgba(0, 0, 0, 0.15);
  --university-card-img-bg-color: rgb(215, 215, 216);
  --university-card-moduleTitle-text-color: rgb(115, 115, 115);
  --university-card-assignmentTitle-text-color: rgb(12, 12, 13);
  --university-card-date-text-color: rgb(126, 126, 126);
  --university-card-stage-text-color: rgb(126, 126, 126);
  --university-card-percentage-text-color: rgb(255, 255, 255);
  --university-card-percentage-bg-color: rgb(62, 156, 7);

  --university-assignment-title-text-color: rgb(15, 20, 30);
  --university-assignment-subheading-text-color: rgb(135, 138, 143);
  --university-assignment-subheading-detail-text-color: rgb(15, 20, 30);
  --university-assignment-main-text-color: rgb(135, 138, 143);

  --sidebar-box-shadow: rgba(0, 0, 0, 0.083);
  --sidebar-item-bg-color-hover: rgb(245, 245, 245);

  --contact-btn-colour: rgb(26, 26, 26);
  --contact-btn-font-colour: rgb(196, 196, 196);
  --contact-btn-border-colour: rgb(0, 0, 0);
  --contact-btn-text-colour: rgb(255, 255, 255);
  --contact-btn-colour-hover: rgb(88, 88, 88);

  --text-highlight-color: rgb(156, 213, 198);
  --btn-hover-bg-color: rgb(238, 238, 238);
  --btn-circular-hover-bg-color: rgb(245, 245, 245);
  --btn-circular-active-bg-color: rgb(223, 223, 223);

  --svg-color: rgb(94, 86, 90);
  --svg-color-hover: rgb(0, 0, 0);

  --scrollbar-thumb-bg-color-tags: rgb(179, 179, 179);
  --scrollbar-track-bg-color-tags: var(--blog-table-bg); /* rgb(218, 217, 217) */

  --caret-color: rgb(35, 32, 32);

}

/** DARK MODE  **/
[data-theme="dark"] {
  --bg1: rgb(28, 24, 24); /*rgb(50, 56, 64);*/   /* rgb(5, 27, 63);    rgb(104, 73, 218);           rgb(79, 156, 158);       rgb(255, 255, 255); */
  --bg2: rgb(28, 24, 24); /*rgb(50, 56, 64);*/   /* rgb(31, 31, 31);   rgba(102, 238, 165, 0.521);  rgba(255, 145, 0, 0.4);  rgb(219, 212, 188); */
  
  --text: rgb(240, 240, 240);
  --text-darker: rgb(169, 169, 169);
  --intro-text: rgb(192, 192, 196);
  --text-hyperlink: rgb(29, 199, 251);
  --text-hyperlink-hover: rgb(78, 202, 255);

  --section-inner-bg-color: rgb(35, 31, 31);
  --page-wrapper-bg: var(--bg1);
  --page-text-color: rgba(255, 255, 255, 0.878);

  --topnav-bg-color: rgba(0, 0, 0, 0);
  --topnav-button-bg-color: rgb(40, 38, 38);
  --topnav-button-bg-color-hover: rgb(50, 47, 47);
  --topnav-button-bg-color-active: rgb(83, 80, 80);
  --topnav-button-text-color: rgb(163, 163, 163);
  --topnav-button-text-color-hover: rgb(255, 255, 255);
  --topnav-button-text-color-active: rgb(0, 255, 208);
  --button-border-color-onclick: rgb(82, 81, 81);

  --logo-path-color: rgb(115, 220, 140);
  --logo-path-color-onclick: rgba(236, 255, 230, 0.897);
  --logo-stroke-color: rgb(0, 0, 0);
  --logo-stroke-color-hover: rgb(0, 0, 0);

  --sidenav-bg-color: rgba(0, 0, 0, 0); /* rgb(31, 31, 33); */  /* rgb(41, 42, 48); */
  --sidenav-shadow-color: rgba(0, 0, 0, 0.748);
  --sidenav-item-border-bottom-hover: rgb(28, 206, 173);
  --sidenav-item-text-color: rgb(255, 255, 255);

  --scrollbar-clickybit-bg-color: rgba(0, 255, 208, 0.26);
  --scrolbar-notclickybit-bg-color: rgb(67, 66, 66); 

  --arrow-smooth-scroll-btn: rgb(141, 141, 141);
  --arrow-smooth-scroll-btn-hover: rgb(88, 88, 88);

  --project-card-shadow: rgb(82, 82, 82);
  --project-card-bg: rgb(36, 36, 36);
  --project-card-text-hover: rgb(235, 235, 235);
  --project-card-text-color: var(--intro-text);
  
  --blog-table-bg: var(--page-wrapper-bg);
  --blog-table-thead-bg: rgb(45, 51, 58);
  --blog-table-border: rgba(255, 255, 255, 0.118);
  --blog-table-text: var(--intro-text);
  --blog-table-text-hover: var(--intro-text);
  --blog-table-row-bg-hover: var(--page-wrapper-bg);
  --blog-table-tag-bg: rgb(46, 45, 45);
  --blog-table-tag-text: rgb(189, 189, 189);

  --searchbox-bg-color: rgb(48, 47, 47);
  --searchbox-active-bg-color: rgb(58, 58, 59);
  --searchbox-border-color: rgb(65, 65, 65);
  --searchbox-placeholder-text-color: rgba(245, 245, 240, 0.35);
  --searchbox-text-color: rgb(38, 220, 144);

  --blog-post-title-text: rgb(199, 199, 199);
  --blog-post-subTitle-text-color: rgb(209, 209, 209);
  --blog-post-date-text: rgb(143, 148, 155);
  --blog-post-text: rgb(185, 186, 189);
  --blog-post-note-text: rgb(153, 153, 153);
  --blog-post-divider-color: rgb(69, 69, 75);
  --svg-icon-invert-percentage: 100%;

  --tags-text-color: rgb(255, 255, 255);
  --tags-Hardware-text-color: rgb(37, 216, 129);

  --university-controls-btn-bg: rgba(82, 79, 79, 0.609);
  --university-controls-btn-svg-fill: rgb(232, 232, 232);
  
  --university-card-box-shadow: rgba(0, 0, 0, 0.1);
  --university-card-bg: rgb(43, 47, 51);
  --university-card-border-color: rgb(38, 42, 46);
  --university-card-border-color-hover: rgb(27, 31, 34);
  --university-card-img-box-shadow: rgba(233, 35, 35, 0.15);
  --university-card-img-bg-color: rgb(43, 47, 51);
  --university-card-moduleTitle-text-color: rgb(189, 188, 188);
  --university-card-assignmentTitle-text-color: rgb(220, 220, 220);
  --university-card-date-text-color: rgb(194, 194, 194);
  --university-card-stage-text-color: rgb(194, 194, 194);
  --university-card-percentage-text-color: rgb(255, 255, 255);
  --university-card-percentage-bg-color: rgb(49, 118, 9);
  
  --university-assignment-title-text-color: rgb(198, 201, 206);
  --university-assignment-subheading-text-color: rgb(161, 164, 168);
  --university-assignment-subheading-detail-text-color: rgb(119, 120, 121);
  --university-assignment-main-text-color: rgb(167, 170, 174);

  --sidebar-box-shadow: rgba(0, 0, 0, 0.083);
  --sidebar-item-bg-color-hover: rgb(47, 47, 55);

  --contact-btn-colour: rgb(26, 26, 26);
  --contact-btn-font-colour: rgb(196, 196, 196);
  --contact-btn-border-colour: rgb(0, 0, 0);
  --contact-btn-text-colour: rgb(255, 255, 255);
  --contact-btn-colour-hover: rgb(88, 88, 88);

  --text-highlight-color: rgb(19, 107, 88);
  --btn-hover-bg-color: rgb(51, 51, 51);
  --btn-circular-hover-bg-color: rgb(175, 175, 175);
  --btn-circular-active-bg-color: rgb(153, 153, 153);

  --svg-color: rgb(192, 192, 192);
  --svg-color-hover: rgb(255, 255, 255);

  --scrollbar-thumb-bg-color-tags: rgb(80, 80, 80);
  --scrollbar-track-bg-color-tags: var(--blog-table-bg); /* rgb(29, 29, 29); */

  --caret-color: rgb(237, 237, 237);
}
/* #endregion */


/* #region ----------------------------------<1: SETUP>---------------------------------- */
#particles-js canvas{
  position: fixed;
  width: 100%;
  height: 100vh;
}
/* only put the core elements on top of #particles-js, not the entire page because it removes the interactivity */
.portfolio p, .portfolio a, .portfolio h2, .portfolio h1, .portfolio h3, .portfolio h4, .portfolio h5, .portfolio h6, .portfolio .project, .my-navbar {
  z-index: 1;
  position: relative;
}

.center-me {
  text-align: center;
}

a:not(.website-logo) {
  border-bottom: 3px solid transparent;
  background-color: transparent;
  text-decoration: none;
  border: none;
  transition: color 100ms ease-out;
  color: var(--text-hyperlink) !important;
  opacity: 0.7;
}
a:not(.website-logo):hover {
  text-decoration: underline !important;
  color: var(--text-hyperlink-hover) !important;
  cursor: pointer;
  opacity: 1.0;
}

.section-inner {
  background-color: var(--section-inner-bg-color);
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 40px !important;
  box-shadow: 0 1px 12px 0 var(--university-card-box-shadow);
}

@media (max-width: 2000px) {
  .section-inner {
    margin: 0 auto;
  }
}
@media (min-width: 800px) {
  .section-inner {
    max-width: 1300px;
  }
}

/* Accomodate for sidebar... */
/*
@media (max-width: 725px) {
  .section-inner {
    max-width: 600px;
    margin: 0 !important;
    padding-left: calc(3.5rem + 1rem) !important;
  }
}*/


body, button, input, select, textarea, a {
  color: rgb(0, 0, 0);
  font-family: Helvetica !important;
}

h1, h2, h3, .website-logo-container a {
  font-family: 'karla', cursive !important;
}

.inline-svg {
  width: 1em;
  display: block;
}
.inline-svg[hidden] {
  display: none;
}
svg:not(:root) {
  overflow: hidden;
}
/* #endregion */


/* #region ----------------------------------<2: TOP-LEVEL CONTAINERS>---------------------------------- */
html {
  overflow-y: scroll;
  overflow-x: hidden;
  line-height: 1.6;
  letter-spacing: 0.06em;
}

body {
  /* font-family: "Karla", sans-serif !important; */
  /* font-family: Helvetica !important; */
  padding: 0;
  margin: 0;
  background: linear-gradient(
      180deg,
      var(--bg1),
      var(--bg2)
  );
  background-size: 400%;
  animation: animation_name 55s ease infinite;    /* lasts 30s, eases in, and is infinite */
}

body > div#root > div.App {
  display: flex;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  align-items: stretch;
}
/* #endregion */


/* #region ----------------------------------<3: TOP NAVBAR>---------------------------------- */
/* 
  #nav-top
    .nav-wrapper
      .nav-left
        .website-logo-container
        .website-links
      .nav-right
        .theme-toggle
*/
#nav-top {
  display: flex;
  position: fixed;
  z-index: 1000;
  width: 100vw;
  align-items: center;
  padding: 0.9em 1em;
  font-size: 1.0rem;
  margin-left: 3.5rem;
  /*
  background-color: var(--topnav-bg-color);
  */
}

@media screen and (max-width: 700px) { 
  .website-links a:hover { cursor: default; }
  .website-links a span:hover { cursor: pointer; }

  #nav-top > .nav-right {
    position: absolute;
    right: 78px;
    top: 15px;
  }

  #nav-top .website-links a {
    margin-left: 0;
  }
}

@media screen and (max-width: 340px) { #nav-top { font-size: 0.9rem; }}
@media screen and (max-width: 290px) { #nav-top { font-size: 0.7rem; }}

/* target every link in the entire #nav */
#nav-top a {
  color: var(--topnav-button-text-color) !important;
  text-decoration: none !important;
  padding: 0.375rem;
  background-color: var(--topnav-button-bg-color);
  border-radius: 0.5rem;
  /*
  display: inline-block;
  min-width: 70px;
  */
}
#nav-top a:hover {
  background-color: var(--topnav-button-bg-color-hover);
  color: var(--topnav-button-text-color-hover) !important;
}
#nav-top a.active {
  color: var(--topnav-button-text-color-active) !important;
  background-color: var(--topnav-button-bg-color-active);
  opacity: 1;
}

/* target the div container .website-links */
#nav-top .website-links {
  display: inline-block;
  font-size: 0.8em;
}
#nav-top .website-links a {
  margin-left: 0.8em;
  opacity: 1;
}

/* target the div container .website-logo-container */
#nav-top .website-logo-container {
  display: inline-block;
  margin-right: 0.9em;
  font-size: 1.2em;
}

#nav-top .nav-left {
  display: flex;
  min-width: 0;
  align-items: center;
}

/* float left 
#nav-top .nav-left { margin-right: auto; }
#nav-top .nav-right { margin-right: calc(3.5rem * 2); }
*/

/* float right (closer to navbar) */
#nav-top .nav-right { margin-left: 20px; }



/* dont display hamburger menu... */
.hamburger-menu {
  display: none !important;
  padding: 2px 6px;
}

/* this div container wraps around any svg */
.inline-svg-wrapper {
  color: var(--svg-color);
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: 150ms ease;
  display: inline-block;
}
.inline-svg-wrapper:active {
  border: 1px solid var(--button-border-color-onclick);
}
.inline-svg-wrapper:hover {
  color: var(--svg-color-hover);
}

.theme-toggle .inline-svg { 
  width: 33px;
}
.hamburger-menu .inline-svg { 
  width: 20px;
  height: 28px;
}
/* #endregion */


/* #region ----------------------------------<4: SIDE NAVBAR>---------------------------------- */
/* 
  #nav-side
    .website-logo-container
    .sidebar-menu
*/
#nav-side {
  position: fixed;
  display: flex;
  width: 4.5rem;
  height: 100vh;
  flex-direction: column;
  align-items: stretch;
  border-right-width: 1px;
  background-color: var(--sidenav-bg-color);
}

#nav-side > .website-logo-container {
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0.2rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

#nav-side > .sidebar-menu {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}

/* styling the svg logo */
a.website-logo:hover {
  border-radius: 0.5rem;
  background-color: var(--topnav-button-bg-color-hover);
  transition: background-color 350ms ease;
}

svg.logo {
  width: 57px;
  height: 57px;
  stroke-width: 31.1px;
  stroke-opacity: 1110.11;
  z-index: 10;
}

svg.logo path {
  fill: var(--logo-path-color);
  stroke: var(--logo-stroke-color);
}

/* #region -------------< Svg colours >--------------- */
svg.logo path:nth-child(1) { fill: rgb(255, 113, 113); }
svg.logo path:nth-child(2) { fill: rgb(98, 172, 250);  }
svg.logo path:nth-child(3) { fill: rgb(250, 237, 98);  }
svg.logo path:nth-child(4) { fill: rgb(98, 250, 159);  }
svg.logo path:nth-child(5) { fill: rgb(255, 142, 242); }
svg.logo path:nth-child(6) { fill: rgb(41, 136, 245);  }
svg.logo path:nth-child(7) { fill: rgb(255, 77, 77);   }
svg.logo path:nth-child(8) { fill: rgb(72, 255, 173);  }
svg.logo path:nth-child(9) { fill: rgb(55, 125, 255);  }
svg.logo path:nth-child(10) { fill: rgb(144, 255, 142);}
svg.logo path:nth-child(11) { fill: rgb(255, 188, 81); }
svg.logo path:nth-child(12) { fill: rgb(156, 99, 255); }
svg.logo path:nth-child(13) { fill: rgb(255, 142, 153);}
svg.logo path:nth-child(14) { fill: rgb(69, 91, 255); }
svg.logo path:nth-child(15) { fill: rgb(255, 230, 41); }
svg.logo path:nth-child(16) { fill: rgb(255, 255, 255); }
svg.logo path:nth-child(17) { fill: rgb(255, 255, 255); }
svg.logo path:nth-child(18) { fill: rgb(255, 255, 255); }
svg.logo path:nth-child(19) { fill: rgb(255, 255, 255); }
svg.logo path:nth-child(20) { fill: rgb(81, 243, 255); }
svg.logo path:nth-child(21) { fill: rgb(255, 255, 255); }
svg.logo path:nth-child(22) { fill: rgb(255, 255, 255); }
svg.logo path:nth-child(23) { fill: rgb(253, 52, 52);  }

svg.logo:hover path:nth-child(1) { fill: var(--logo-path-color); transition: fill 0ms ease-in-out; }
svg.logo:hover path:nth-child(2) { fill: var(--logo-path-color);  transition: fill 100ms ease-in-out;}
svg.logo:hover path:nth-child(3) { fill: var(--logo-path-color);  transition: fill 200ms ease-in-out; }
svg.logo:hover path:nth-child(4) { fill: var(--logo-path-color);  transition: fill 300ms ease-in-out; }
svg.logo:hover path:nth-child(5) { fill: var(--logo-path-color); transition: fill 400ms ease-in-out; }
svg.logo:hover path:nth-child(6) { fill: var(--logo-path-color);  transition: fill 500ms ease-in-out;}
svg.logo:hover path:nth-child(7) { fill: var(--logo-path-color);  transition: fill 600ms ease-in-out;}
svg.logo:hover path:nth-child(8) { fill: var(--logo-path-color);  transition: fill 650ms ease-in-out; }
svg.logo:hover path:nth-child(9) { fill: var(--logo-path-color);  transition: fill 700ms ease-in-out;}
svg.logo:hover path:nth-child(10) { fill: var(--logo-path-color); transition: fill 750ms ease-in-out; }
svg.logo:hover path:nth-child(11) { fill: var(--logo-path-color); transition: fill 800ms ease-in-out;}
svg.logo:hover path:nth-child(12) { fill: var(--logo-path-color); transition: fill 860ms ease-in-out; }
svg.logo:hover path:nth-child(13) { fill: var(--logo-path-color); transition: fill 880ms ease-in-out; }
svg.logo:hover path:nth-child(14) { fill: var(--logo-path-color); transition: fill 900ms ease-in-out; }
svg.logo:hover path:nth-child(15) { fill: var(--logo-path-color); transition: fill 950ms ease-in-out; }
svg.logo:hover path:nth-child(16) { fill: var(--logo-path-color); transition: fill 1000ms ease-in-out; }
svg.logo:hover path:nth-child(17) { fill: var(--logo-path-color); transition: fill 1220ms ease-in-out; }
svg.logo:hover path:nth-child(18) { fill: var(--logo-path-color); transition: fill 1440ms ease-in-out; }
svg.logo:hover path:nth-child(19) { fill: var(--logo-path-color); transition: fill 1660ms ease-in-out; }
svg.logo:hover path:nth-child(20) { fill: var(--logo-path-color);  transition: fill 1780ms ease-in-out;}
svg.logo:hover path:nth-child(21) { fill: var(--logo-path-color);  transition: fill 1800ms ease-in-out;}
svg.logo:hover path:nth-child(22) { fill: var(--logo-path-color); transition: fill 1920ms ease-in-out;}
svg.logo:hover path:nth-child(23) { fill: var(--logo-path-color); transition: fill 1950ms ease-in-out;}
/* #endregion */

/*
svg.logo:hover path {
  fill: var(--logo-path-color-hover);
  transition: fill 350ms ease;
  stroke: var(--logo-stroke-color-hover);
}*/

svg.logo path:hover {
  fill: rgb(255, 27, 80) !important;
  transition: fill 50ms ease-in-out;
}


/* #endregion */


/* #region ----------------------------------<5: PAGE CONTAINER>---------------------------------- */
.page-wrapper {
  width: 100vw;
  top: 0;
  padding-top: 5rem;
}

.page-wrapper.university,
.page-wrapper.universityAssignment,
.page-wrapper.blog,
.page-wrapper.blog-post,
.page-wrapper.notes {
  background-color: var(--page-wrapper-bg) !important;
}

.page-title {
  color: var(--page-text-color);
  font-size: 3.0rem !important;
  font-weight: bold !important;
  margin-bottom: 30px;
}

*:focus {
  outline: 0;
  outline: none;
}
/* #endregion */


/* #region ----------------------------------<6: PORTFOLIO>---------------------------------- */
.portfolio {
  top: 0;
  color: var(--intro-text);
  height: 270vh;
  padding-top: 50px;
}

.portfolio p {
  font-size: 1.2em;
	line-height: 1.4em;
	letter-spacing: -0.014em;
	font-feature-settings: "ss03","zero","cv08","cv11" 1;
  text-transform: none;
}
.portfolio h1 {
  font-size: 6vw;
  font-family: "Karla", sans-serif !important;

  line-height: 0.9em;
  margin: 0.2em 0 0.6em;
  font-weight: 900;
}
.portfolio h2 {
  font-size: 4vw;
  font-weight: 900;
  margin: 0.2em 0 0.6em;
}

.portfolio #about, 
.portfolio #projects,
.portfolio #contact {
  height: 100vh;
}

#about, .projects-header {
  padding-left: 200px;
  transition: padding-left 0.3s ease-out;
}

/* the arrow button that takes to an area on the same page */
.smooth-scroll-btn {
  width: 100%;
  margin-top: 1.8em;
}
.smooth-scroll-btn a i {
  font-size: 5rem;
  cursor: pointer;
  color: var(--arrow-smooth-scroll-btn);
}
.smooth-scroll-btn a i:hover {
  color: var(--contact-btn-colour-hover);
}

/* --------------<#about SECTION> -------------- */
#about {
  padding: 110px 0px 0px 200px !important;
  display: block;
  top: auto;
	right: auto;
	bottom: auto;
  max-width: 1500px;
  margin-top: 100px;
}

#about img {
  object-fit: cover;
  object-position: 100% 100%; /* positioned top left of the content box */
  width: 250px;
  height: 250px;
  border-radius: 50%;
  filter: drop-shadow(0 0 15px #000);
}

@media screen and (max-width: 900px) {
  #about img {
    width: 230px;
    height: 230px;
    transition: 0.3s all;
  }
}

/* The contact buttons */
.contact {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}

.contact i {
  font-size: 50px;
  color: var(--contact-btn-colour);
}

.contact a {
  cursor: pointer;
  text-decoration: none;
  padding: 20px;    /* space out the contact icons */
}

.contact .cv .contact-btn {
  background-color: var(--contact-btn-colour);
  border: 1px solid var(--contact-btn-border-colour);
  color: var(--contact-btn-font-colour);
  opacity: 0.7;
  font-size: 20px;
  border-radius: 20px;
  padding: 20px;
  display: inline-block;
}

.contact i:hover {
  color: var(--contact-btn-colour-hover);
  transition: 0.3s;
}
.contact-btn:hover {
  background-color: var(--contact-btn-colour-hover) !important;
  transition: 0.3s;
  color: var(--bg1);
}

/* --------------<#projects SECTION> -------------- */
#projects {
  padding-top: 0px;
}

.projects-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  padding: 0 120px;
}

/* Media queries for the project images */
@media screen and (min-width: 1910px) { .project img { width: 18.5vw; } }
@media screen and (max-width: 1900px) { .project img { width: 15.9vw; } }
@media screen and (max-width: 1879px) { .project img { width: 18.9vw; } }
@media screen and (max-width: 1595px) { .project img { width: 24.1vw; } }
@media screen and (max-width: 1282px) { .project img { width: 32.1vw; } }
@media screen and (max-width: 969px) { .project img { width: 48.1vw; } }
@media screen and (max-width: 656px) { .project img { width: 97.1vw; } }
/* -- I had this before because I wanted two projects to be visible on the same row on a phone...
  ... but overtime I've not been a big fan of it, so I'm commenting it out for now.
@media screen and (max-width: 500px) {
  .projects-container {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .project {
      height:42vh;
  }
}
*/

.project {
  background-color: var(--project-card-bg) !important;
  border: 1px solid var(--project-card-bg) !important;
  box-shadow: 0 1px 3px 0 var(--project-card-shadow),0 0 0 1px var(--project-card-bg) !important;
  text-align: left;
}

.project, .image {
  border-radius: 10px;
}

.project a {
  text-decoration: none;
  opacity: 0.9 !important;
}

.project img {
  height: 29vh;
}

.project * {
  color: var(--project-card-text-color);
}

.cropped {
  height: 15vh !important;
  object-fit: cover;
}

.image {
  cursor: pointer;
  overflow: hidden;
  border: 1px solid var(--project-card-bg);
}

.proj-title {
  font-size: 1.4rem;
}
.proj-title a {
  color: var(--project-card-text-color) !important;
  opacity: 1.0;
}

.proj-date { 
  font-size: 0.8rem;
}
.proj-details { 
  font-size: 0.85rem;
  padding: 3px 5px 10px 5px;
}

/* Rules for when mouse hovers over a project */
.project a:hover {
  color: var(--project-card-text-hover);
}
.project a:hover {
  transition: opacity 400ms;
  opacity: 0.65 !important;
}
.image:hover + .proj-details > .proj-title > a {
  color: var(--project-card-text-hover);
}
/* #endregion */


/* #region ----------------------------------<7: BLOG PAGE>---------------------------------- */
.page-wrapper.blog {

}

.blog h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.blog p, .blog span {
  font-size: 1.13rem;
  color: var(--page-text-color);
}

.posts-container {
  position: relative;
  padding-bottom: 20px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 1.0rem;
  transition: 300ms all;
  width: 100%;
  /*
  background-color: var(--blog-table-bg);
  */
}

table tr {
  max-height: 200px;
}

table tr, table tr a { 
  text-align: left; 
}

@media screen and (max-width: 700px) { 
  table tr a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }
}

table thead { 
  text-align: center;
  background-color: var(--blog-table-thead-bg);
}

table td {
  padding: 0.25rem 0.0rem;
  border-bottom: 1px dashed var(--blog-table-border);
}

table thead th:hover {
  cursor: pointer;
}

table td:nth-child(1) { width: 10%; max-width: 100px; min-width: 120px; }   /* 1st column */
table td:nth-child(2) { width: 90%; }   /* 2nd column */

table tr {
  line-height: 1.4;
}

table {
  color: var(--blog-table-text);
}

table tbody tr:hover {
  color: var(--blog-table-text-hover);
  background-color: var(--blog-table-row-bg-hover);
}

.tags {
  display: inline;
  overflow-y: hidden;
  overflow-x: auto;
  max-width: 120px;
  margin-left: 15px;
}

.tag {
  display: inline;
}

/* text inside tag */
.tag span {
  margin-right: 6px;
  padding: 2px 5px;
  border-radius: 4px;
  font-size: 0.7rem;
  font-weight: bold;
  background-color: var(--blog-table-tag-bg);
  color: var(--blog-table-tag-text);
}

/* lower opacity when hovering over tag */
.blog-post-tags > .tag:hover > span,
.tag:hover span {
  opacity: 0.3 !important;
}

/* Style each possible category of tag */
.tag span {
  color: var(--tags-text-color);
}
.tag span.Hardware {
  color: var(--tags-Hardware-text-color);
}
.tag .Hardware { background-color: rgba(22, 94, 48, 0.3); }
.tag .Astronomy { background-color: rgba(123, 77, 230, 0.3); }
.tag .Mathematics { background-color: rgba(192, 86, 29, 0.3); }
.tag .Python { background-color: rgba(128, 155, 243, 0.3); }
.tag .Life { background-color: rgba(0, 0, 0, 0.3); }
.tag .Biology { background-color: rgba(79, 139, 20, 0.3); }
.tag .React { background-color:rgba(9, 204, 188, 0.3); }
.tag .Cryptography { background-color:rgba(21, 87, 81, 0.3); }
.tag .Entomology { background-color:rgba(82, 174, 142, 0.3); }
.tag .Oceanography { background-color:rgba(56, 85, 148, 0.3); }
.tag .Geography { background-color:rgba(166, 211, 143, 0.3); }
.tag .History { background-color:rgba(97, 105, 118, 0.3);  }
.tag .Rocks-and-minerals { background-color:rgba(228, 124, 207, 0.3);  }
.tag .Running { background-color:rgba(111, 191, 248, 0.3);  }
.tag .Films { background-color:rgba(240, 143, 17, 0.3); }
.tag .Vexilology { background-color:rgba(107, 17, 176, 0.3);  }
.tag .Music { background-color:rgba(246, 234, 13, 0.3); }


.tag:hover {
  cursor: pointer;
}
.tag:hover span {
  /*
  background-color: #ebebeb;
  color: rgb(0, 0, 0);
  */
  opacity: 0.75;
  transition: all 100ms ease-in;
}

.tag .inline-svg {
  display: inline-block;
}
.tag .inline-svg svg {
  margin-left: 4px;
}

/* blog controls */
.blog .controls {
  width: 50%;
  margin-bottom: 20px;
}

.controls > div.searchbox > input {
  border-radius: 2rem;
  background-color: var(--searchbox-bg-color);
  color: var(--searchbox-text-color);
  width: 500px;
  padding: 0.6rem 1.1rem;
}

.controls > div.searchbox > input:hover,
.controls > div.searchbox > input:active,
.controls > div.searchbox > input.activated {
  background-color: var(--searchbox-active-bg-color);
}

.controls > div.searchbox > input::placeholder {
  color: var(--searchbox-placeholder-text-color);
}
.controls > div.searchbox > input {
  caret-color: var(--caret-color);
}

/* Dont apply border... */
.controls > div.searchbox > input {
  border: 0px transparent;
}

/* Apply border...
.controls > div.searchbox > input {
  border: 2px solid var(--searchbox-border-color);
}
.controls > div.searchbox > input:active {
  border: 1px solid transparent;
}
*/

/* #endregion */


/* #region ----------------------------------<8: BLOG POST PAGE>---------------------------------- */
.blog-post {
  /* max-width: 80vw; */
  margin-right: auto;
  margin-left: auto;
  min-height: 100vh;
  border-radius: 0px;
  letter-spacing: 0px;
  font-style: normal;
  transition: 0.3s all;
}

/*.blog-post-content .intro,*/
.blog-post-content .main,
.blog-post-content .conclusion {
  padding-bottom: 50px;
}

/*
.blog-post-info
  a.back-to-previous-page
  h3.blog-post-title
  p.blog-post-date
  div.blog-post-tags
*/
.blog-post-info {
  padding-bottom: 0.5em;  
}

/* title of blog post */
.blog-post-title {
  color: var(--blog-post-title-text);
  font-size: 2.6rem;
  font-weight: 900;
  display: block;
}

/* date of blog post */
.blog-post-date {
  font-size: 0.9rem;
  color: var(--blog-post-date-text);
  display: inline-block;
}

/* calendar icon next to date */
.blog-post-date > svg {
  width: 17px;
  height: 17px;
  opacity: 0.5;
  margin-right: 7px;
  margin-bottom: 4px;
}

.blog-post-date, .blog-post-tags {
  margin-right: 15px;
}
.blog-post-date {
  margin-left: 5px;
}

/* the tags for this blog post */
.blog-post-tags {
  display: inline-block;
}

.blog-post-info .back-to-previous-page {
  display: inline-block;
  position: absolute;
  margin-left: -60px;
  margin-top: 10px;
  color: inherit;
  border: 2px solid transparent;
  border-radius: 10px;
}
.back-to-previous-page svg.invertable-icon {
  width: 38px;
  height: 38px;
  padding: 10px;
  border-radius: 100px;
  opacity: 0.5;
  transition: all 100ms ease-in;
}
.back-to-previous-page svg.invertable-icon:hover {
  opacity: 1.0;
  background-color: var(--btn-circular-hover-bg-color);
}
.back-to-previous-page svg.invertable-icon:active {
  background-color: var(--btn-circular-active-bg-color);
}

.blog-post-content {
  padding-top: 1em;
  /*
	border-top: 2px solid var(--blog-post-divider-color);
  */
}


/* Table inside a blog-post */
.blog-post table {
  margin: 40px 0;
}
.blog-post table th, 
.blog-post table td {
  width: 20%;
}
.blog-post table.time-to-get-to-alphacenturi-table tbody tr:nth-child(1) { color: rgb(253, 15, 15); }
.blog-post table.time-to-get-to-alphacenturi-table tbody tr:nth-child(2) { color: rgb(255, 79, 35); }
.blog-post table.time-to-get-to-alphacenturi-table tbody tr:nth-child(3) { color: rgb(226, 90, 45); }
.blog-post table.time-to-get-to-alphacenturi-table tbody tr:nth-child(4) { color: rgb(240, 200, 40); }
.blog-post table.time-to-get-to-alphacenturi-table tbody tr:nth-child(5) { color: rgb(188, 209, 26); }
.blog-post table.time-to-get-to-alphacenturi-table tbody tr:nth-child(6) { color: rgb(24, 188, 65); }

@media screen and (max-width: 670px) {
  .blog-post table th {
    font-size: 0.7rem;
  }
  .blog-post table td {
    font-size: 0.6rem;
  }
}


.blog-post-content p,
.blog-post-content ul li,
.blog-post-content ol li {
  font-size: 15px;
  color: var(--blog-post-text);
  margin-left: 5px;
}

.blog-post-content p.note {
  font-size: 0.9rem;
  color: var(--blog-post-note-text);
  font-style: italic;
}

.blog-post-content ul li {
  white-space: pre-wrap;
}

.blog-post-content ol, .blog-post-content ul {
  padding: 0 30px;
}

.blog-post-content hr {
  border: 1px solid var(--blog-post-hr);
  border-radius: 10px;
}

.blog-post-content h1, .blog-post-content h2, .blog-post-content h3, .blog-post-content h4, .blog-post-content h5, .blog-post-content h6 { 
  line-height: 1.3em;
  margin-top: 40px;
  font-weight: 400;
  color: var(--blog-post-subTitle-text-color);
}


.blog-post-content h5.subgroup-title {
  border-bottom: 2px solid rgb(49, 48, 50);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* remove any margin from the first element in a blog post */
.blog-post-content div.intro > :nth-child(1) {
  margin-top: 0px !important;
}

.blog-post-content p, .blog-post-content ol, .blog-post-content ul { 
  line-height: 1.55em;
}

/* Image sizing problems! */
.blog-post img:not(.dont-resize) {
  width: 100%;
}
.blog-post img {
  border-radius: 8px;
  max-height: 100%;
  height: auto;
  margin: 2em 0;
  max-width: 600px;
}
.blog-post img, .blog-post picture {
  display: block;
}


.line {
  border: 1px solid var(--blog-post-divider-color);
  border-style: dotted;
}

svg.invertable-icon {
  filter: invert(var(--svg-icon-invert-percentage));
}
svg.invertable-icon:hover {
  fill: rgb(254, 51, 122);
}
/* #endregion */


/* #region ----------------------------------<9: UNIVERSITY>---------------------------------- */
.page-wrapper.university {

}

.university h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.university .controls {
  /*
  display: flex;
  flex-direction: row;
  float: right;
  */
}

.university .controls .btn {
  border-radius: 100px;
  padding: 7px;
  position: relative;
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
}
.university .controls .btn:active {
  background-color: var(--university-controls-btn-bg);
  transition: background-color 250ms ease-in-out;
}

.university .controls svg {
  width: 25px !important;
  height: 25px !important;
  fill: var(--university-controls-btn-svg-fill);
}

.university .card-grid {
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  display: grid;
  grid-gap: 24px;
}

.university .card-grid > .card {
  box-shadow: 0 1px 4px 0 var(--university-card-box-shadow);
  background: var(--university-card-bg);
  border: 4px solid var(--university-card-border-color);
  border-radius: 7px;
  display: flex;
  height: 260px;
  flex-direction: column;
  position: relative;
}
.university .card-grid > .card:hover {
  border: 4px solid var(--university-card-border-color-hover);
  transition: border 200ms ease-in;
}
.university .card-grid > .card a {
  opacity: 1.0;
  text-decoration: none !important;
}

.university .card-grid > .card > a.card-link > .card-img-wrapper {
  width: 100%;
  position: relative;
}
.university .card-grid > .card > a.card-link > .card-img-wrapper picture {
  opacity: 1;
  height: 0;
  padding-top: 50%;
  display: block;
  position: relative;
}
.university .card-grid > .card > a.card-link > .card-img-wrapper picture img {
  border-radius: 4px 4px 0 0;
  box-shadow: inset 0 0 0 0.5px var(--university-card-img-box-shadow);
  background-color: var(--university-card-img-bg-color);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 620px;
}

.university .card-grid > .card > a.card-link > div.card-meta {
  display: flex;
  flex-direction: column;
  padding: 3px 10px;
  flex-grow: 1;
}

div.card-meta > * {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  word-break: break-word;
}
div.card-meta p {
  line-height: 20px;
  margin: 0;
}

p.card-moduleTitle {
  color: var(--university-card-moduleTitle-text-color);
  font-size: 12px;
  margin-bottom: 2px;
}

p.card-assignmentTitle {
  color: var(--university-card-assignmentTitle-text-color);
  font-size: 16px;
  font-weight: 600;
}

p.card-date {
  color: var(--university-card-date-text-color);
  font-size: 11px;
  position: absolute;
  bottom: 0px;
  left: 9px;
}

p.card-stage {
  color: var(--university-card-stage-text-color);
  font-size: 11px;
  position: absolute;
  bottom: 0px;
  right: 9px;
}

div.card-percentage {
  color: var(--university-card-percentage-text-color);
  font-size: 11px;
  line-height: 20px;
  margin: 0;
  background-color: var(--university-card-percentage-bg-color);
  border-radius: 10px;
  width: 33px;
  position: absolute;
  top: 8px;
  right: 8px;
  text-align: center;
}
/*
div.card-percent:hover {
  width: 30px;
  text-align: left;
  padding-right: 5px;
  padding-left: 5px;
}
div.card-percent:hover::after {
  content: ' %';
}*/
/* #endregion */


/* #region ----------------------------------<10: UNIVERSITY ASSIGNMENT PAGE>---------------------------------- */
.page-wrapper.universityAssignment {
  padding-left: 2rem;
  padding-right: 2rem;
}

.page-wrapper.universityAssignment .wrapper {
  width: 100%;
}

.page-wrapper.universityAssignment p {
  font-size: 15px;
  color: var(--blog-post-text);
}

@media (min-width: 1550px) {
  .page-wrapper.universityAssignment .wrapper {
    max-width: 1480px;
    margin: 0 auto;
    padding: 10px 0px;
  }
}
/* .page-info container */
@media (min-width: 1280px) { 
  .row > .col-lg-4-12 {
    width: 33.333333%;
  }
}

.page-info > div:first-child {
  margin-top: 0;
}
.page-info > div {
  margin-top: 43px;
}


/* .page-content container */
.page-content {
  margin-top: 20px;
}

@media (min-width: 1024px) {
  .page-content {
    margin-top: 55px;
  }
}

@media (min-width: 1280px) {
  .row > .col-lg-offset-2-12 {
    margin-left: 16.666666667%;
  }
}

@media (min-width: 1280px) {
  .row > .col-lg-6-12 {
    width: 50%;
  }
}

.page-info .back-to-previous-page {
  
}

.page-info h2, .page-info h1, .page-info h3, .page-info p.intro {
  font-weight: 800;
  letter-spacing: -.01em;
  color: var(--university-assignment-title-text-color);
}

.page-info h5 {
  font-weight: 400;
  letter-spacing: 0.4em !important;
  color: var(--university-assignment-subheading-text-color);
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  padding: 5px 0;
}

.page-info h4 {
  font-weight: 800;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  padding-top: 1px;
  padding-bottom: 4px;
  font-weight: 500;
  color: var(--university-assignment-subheading-detail-text-color);
  letter-spacing: normal;
}

@media (min-height: 620px) and (min-width: 768px), (min-width: 1280px) {
  .page-info h1 {
    font-size: 2.75rem;
    line-height: 3.125rem;
    padding-top: 4px;
    padding-bottom: 1px;
  }
}

.page-content div.intro > p {
  font-size: 1.375rem;
  line-height: 1.875rem;
  font-weight: 500;
  color: var(--university-assignment-main-text-color);
  letter-spacing: normal;
}
@media (min-height: 620px) and (min-width: 768px), (min-width: 1280px) {
  .page-content div.intro > p {
    font-size: 1.375rem;
    line-height: 1.875rem;
    padding: 2px 0px 3px 0px;
  }
}

.page-content div.main p {
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 100;
  color: var(--university-assignment-main-text-color);
  letter-spacing: normal;
}
@media (min-height: 620px) and (min-width: 768px), (min-width: 1280px) {
  .page-content div.main > p {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
}

.universityAssignment svg {
  width: 13px;
  margin-right: 5px;
}
/* #endregion */


/* #region ----------------------------------<11: NOTES>---------------------------------- */
.page-wrapper.notes {
  /* padding: 100px 125px 100px 50px; */
}

.notes-page {
  height: 100%;
}

.notes, .notes-page h1 {
  color: var(--blog-post-title-text);
}

.notes-page p {
  color: var(--text-darker);
}

.notes-page .section-inner {
  margin-left: calc(250px + 40px);
}

.notes-page .sidebar {
  box-shadow: 4px 1px 11px var(--sidebar-box-shadow);
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.notes-page .sidebar ul {
  list-style-type: none;
  padding: 75px 0;
  margin: 0;
}
.notes-page .sidebar ul a li {
  display: block;
  padding: 4px 10px;
}
.notes-page .sidebar ul a {
  text-decoration: none !important;
  color: var(--sidenav-item-text-color) !important;
}
.notes-page .sidebar ul a li:hover {
  background-color: var(--sidebar-item-bg-color-hover);
  color: inherit;
}
.notes-page .sidebar ul a.active {
  color: var(--topnav-button-text-color-active) !important;
}

.notes-page .subsection {
  padding-bottom: 40px;
  height: 100vh;
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.083);
}

pre.prettyprint span.kwd::before {
  content: "\A";
  white-space: pre-line;
}

.notes-page .subsection p > code {
  background-color: rgb(56, 56, 56);
  color: rgb(255, 255, 255);
  border-radius: 4px;
  padding: 6px;
}
/* #endregion */


/* #region ----------------------------------<11.1: FAVOURITE QUOTES PAGE>---------------------------------- */
ul.messiahs-handbook {
  list-style-type: none;
  display: grid;
  left: 0;
  position: absolute;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
ul.messiahs-handbook li {
  margin: 1px;
  padding: 0 7px;
  font-family: 'Roboto';
  border-radius: 0px;
  opacity: 0.75;
  border: 2px solid rgba(141, 128, 128, 0);
  /*
  border: 2px solid rgba(22, 21, 22, 0.448);
  height: fit-content;
  width: fit-content;
  align-self: center;
  */
}
ul.messiahs-handbook li:hover {
  opacity: 1.0;
  border: 2px dashed var(--contact-btn-border-colour);
}
ul.messiahs-handbook li > p {
  display: inline;
}
ul.messiahs-handbook p.quote-str {
  font-size: 18px;
  font-style: italic;
  display: block;
  text-align: left;
}
ul.messiahs-handbook p.quote-person {
  font-size: 15px;
  font-style: oblique;
  font-weight: bolder;
  display: block;
  text-align: right;
}

/* #endregion */


/* #region ----------------------------------<12: MEDIA QUERIES>---------------------------------- */
@media screen and (max-width: 900px) { #about, #projects { height: 85vh !important; } }

@media screen and (max-width: 900px) { .portfolio h1 { font-size: 50px; } .portfolio h2 { font-size: 40px; } }
@media screen and (max-width: 900px) { #about, .projects-header { padding: 100px 25px 0px 25px !important;  } }
@media screen and (max-width: 650px) { .smooth-scroll-btn { text-align: center; } }
@media screen and (max-width: 600px) { #about, .projects-header { padding: 20px 25px 0px 25px !important; }  #about p { margin-left: 15px; } }

/* anything that should be hidden in mobile goes here... */
@media screen and (max-width: 670px) {
  #nav-top.active .website-links {
    display: block !important;
  }
  .website-links {
    display: none !important;
    position: absolute;
    top: 50px;
    right: 85px;
    background-color: var(--bg1);
    box-shadow: -1px 4px 6px var(--topnav-collapsed-shadow-color);
  }
  .website-links a {
    margin: 0rem !important;
    display: block;
    border-bottom: 3px solid transparent;
    border-radius: 0px !important;
  }
  .website-links a:hover {
    cursor: pointer;
  }
  .hamburger-menu {
    display: inline-block !important;
  }
  .hamburger-menu > .inline-svg > svg {
  }

  /* font size of searchbox */
  .controls > div.searchbox > input {
    font-size: 13px;
    width: 300px;
  }
}

@media screen and (max-width: 725px) {
  /* move content down a bit to make room for button */
  .blog-post-content {
    margin-top: 40px;
  }
  /* move button */
  .back-to-previous-page {
    left: 85px;
    top: 140px;
  }
  /*
  .back-to-previous-page::after {
    content: 'Go back';
  }*/

  /* main container */
  .section-inner {
    margin: 0 auto;
    width: 95%;
    margin-top: -10px;
  }
}

/* make font size get smaller on blog table */
@media only screen and (max-width: 1400px) { table { font-size: 0.95rem; } }
@media only screen and (max-width: 1300px) { table { font-size: 0.90rem; } }
@media only screen and (max-width: 1200px)  { table { font-size: 0.85rem; } }
@media only screen and (max-width: 1100px)  { table { font-size: 0.85rem;  } }
@media only screen and (max-width: 1000px)  { table { font-size: 0.8rem;  } }
@media only screen and (max-width: 700px) { table tr { line-height: 0.9; } }
@media only screen and (max-width: 700px) { table tr td { font-size: 0.6rem; } }
@media only screen and (max-width: 700px) { table .tag span { font-size: 0.50rem; } }
@media only screen and (max-width: 700px) { table td:nth-child(1) { min-width: 80px; } }
@media only screen and (max-width: 700px) { table td { padding: 0.5rem 0; } }

/* remove padding from the #about section as screen gets smaller */
@media screen and (max-width: 1125px) { #about{ padding: 50px 170px 0px 170px; } }
@media screen and (max-width: 990px) { #about{ padding: 50px 140px 0px 140px; } }
@media screen and (max-width: 700px) { #about{ padding: 50px 90px 0px 90px; } }
@media screen and (max-width: 500px) { #about{ padding: 50px 30px 0px 30px; } }
@media screen and (max-width: 400px) { #about{ padding: 50px 5px 0px 5px; } }

@media screen and (max-width: 900px) { .projects-container { padding: 0px 5px; } }

@media screen and (max-width: 700px) { .page-title{ font-size: 2.4rem !important; } }
@media screen and (max-width: 400px) { .page-title{ font-size: 1.8rem !important; } }


/* remove padding from a blog post as screen gets smaller */
@media only screen and (max-width: 1500px) { .blog-post { padding-left: 300px; padding-right: 300px; } .blog-post-title { font-size: 3.2rem; } }
@media only screen and (max-width: 1200px) { .blog-post { padding-left: 200px; padding-right: 200px; } .blog-post-title { font-size: 2.9rem; } }
@media only screen and (max-width: 1100px) { .blog-post { padding-left: 100px; padding-right: 100px; } .blog-post-title { font-size: 2.6rem; } }
@media only screen and (max-width: 1000px) { .blog-post { padding-left: 50px; padding-right: 50px; } .blog-post-title { font-size: 2.5rem; } }
@media only screen and (max-width: 900px) { .blog-post { padding-left: 10px; padding-right: 10px; } .blog-post-title { font-size: 2.4rem; } }
@media only screen and (max-width: 800px) { .blog-post { padding-left: 10px; padding-right: 10px; } .blog-post-title { font-size: 1.9rem; } .blog-post-content p, .blog-post-content li { font-size: 0.8rem !important; } }

/* #endregion */


/* #region ----------------------------------<13: ANIMATIONS>---------------------------------- */
@keyframes animation_name {
  /*                          (x,  y) */
  0% { background-position:   0%   0%; }     /* x=top left, y=centre */
  50% { background-position:  100% 50%; }     /* x=bottom left, y=centre */
  100% { background-position: 0%   100%; }     /* x=top left, y=centre */
}

@keyframes slideInUp {
  0% {
    transform: translate3d(0, -100%, 0); 
    visibility: visible;
  } to {
    transform: translateZ(0);
  }
}
@keyframes slideOutDown { 
  0% {
    transform: translateZ(0)
  } to { 
    visibility: hidden;
    transform: translate3d(0%, -100%, 0)
  }
}

.slideInUp {
  animation-name: slideInUp;
}
.slideOutDown {
  animation-name: slideOutDown
}
.animated.faster {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}
/* #endregion */


/* #region ----------------------------------<14: SCROLLBARS>------------------------------------------ */

/* Styles for custom scrollbar in Chrome... */
body::-webkit-scrollbar-track {
  background-color: #dfdfdf;
}
body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: rgb(44, 62, 80);
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(136, 136, 136);
}

/* Styles for custom scrollbar in Firefox.... */
:root {
  scrollbar-color: var(--scrollbar-clickybit-bg-color) var(--scrolbar-notclickybit-bg-color) !important;
  scrollbar-width: thin !important;
}


.tags::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-bg-color-tags) !important;
}

.tags::-webkit-scrollbar-track {
  border-radius: 150px;
  background-color: var(--scrollbar-track-bg-color-tags);
}
.tags::-webkit-scrollbar {
  height: 5px;
  border-radius: 150px;
}
.tags::-webkit-scrollbar-thumb {
  border-radius: 150px;
  background-color: var(--blog-table-bg);
}
/* #endregion */


/* #region ------------------------------------<15: MISCELLANEOUS>------------------------------------------ */
::selection {
  background: var(--text-highlight-color); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--text-highlight-color); /* Gecko Browsers */
}
/* #endregion */
