
// CSS code related to the 'About Me' page

.landingpage-intro {
    position: absolute;
    color: var(--page-text-color);
    top: 35vh;
    padding-left: 5rem;
    max-width: 80%;

    h1 {
        font-size: 6rem;
        font-weight: bold;        
    }

    p {
        margin: 0;
        font-size: 2rem;     
    }
}

.aboutme-intro {
    position: absolute;
    color: var(--page-text-color);
    padding-left: 5rem;
    padding-top: 5rem;
    max-width: 60%;

    p {
        margin: 0;
        padding-bottom: 12px;
        font-size: 1.2rem;

        &.text-v1 {font-size: 1.0rem;}
        &.text-v2 {font-size: 0.6rem;}
        &.text-v3 { font-size: 0.5rem; }
        &.text-v4 { font-size: 0.3rem; }
        &.text-v5 { font-size: 0.2rem; }
        &.text-v6 { font-size: 0.1rem; }
        &.text-v7 { font-size: 0.02rem; }
    }
}
  
.social-medias {
    display: grid;
    grid-template-columns: repeat(6, 50px);
    padding-top: 12px;

    img {
        width: 50px;
    }
}

